<% if user_signed_in? %>
	<li>
		<%= link_to(my_messages_user_index_path, class: "dropdown-toggle", "data-toggle" => "") do %>
			<i class="icon-bell-alt icon-animated-bell">
				<% unread = current_user.user_notifications.unreads.count %>
				<% if unread > 0 %>
				<span class="badge-count"><%= unread %></span>
				<% end %>
			</i>
		<% end %>
	</li>
	<li>
		<%= link_to(my_courses_user_index_path) do %>
			<i class="icon-user"></i>&nbsp;&nbsp;<%= current_user.show_name %>
		<% end %>
	</li>
	<li>
		<%= link_to destroy_user_session_path, :method => :delete do %>
			<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 退出
		<% end %>
	</li>
<% else %>
	<li>
		<%= link_to(new_session_path(:user),remote: true, format: :js) do %>
			<%= image_tag "loginin.png", width: '18' %>&nbsp;&nbsp;登录
		<% end %>
	</li>
	<li>
		<%= link_to(new_registration_path(:user),remote: true, format: :js) do %>
			<%= image_tag "loginin.png", width: '18' %>&nbsp;&nbsp;注册
		<% end %>
	</li>
<% end %>