<div class="sub_courses__show">
	<div class="video">
		<div class="container">
			<div class="row my-row">
				<div class="col-md-9 col-0">
					<video width="855" height="530" class="mejs-player" poster="poster.jpg" controls="controls" preload="none">
						<source type="video/mp4" src="<%= @sub_course.attachment.file_url %>" />
					</video>
				</div>
				<div class="col-md-3 col-0">
					<div class="list-title">课程列表</div>
					<div class="list-content">
					  <% @sub_courses.each do |sub_course|%>
					    <%= link_to sub_course_path(sub_course, course_id: @course.id) do %>
								<div class="col-xs-6 col-5 text-center">
									<%= image_tag(sub_course.try(:image).try(:avatar).url(:c_130_70), class: 'img-responsive')%>
									第一章
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="video-comment">
			<div class="row">
				<div class="col-xs-12">
					<ul class="my-ul cmt-ul">
						<li id="cmt-link" class="active"><%= link_to "评论", "javascript:void(0)"%></li>
						<li id="answer-link"><%= link_to "问答", "javascript:void(0)"%></li>
					</ul>
				</div>
				<div class="col-xs-12">
					<div class="tab-content">
						<!-- comment tabs -->
						<div id="cmt">
							<div class="col-xs-12">
								<textarea class="form-control" rows="3">
								</textarea>
								<button type="button" class="cmt-btn pull-right">发表评论</button>
							</div>
							<div class="col-xs-12">
								<hr class="cmt-hr">
								<% 5.times do %>
								<div class="media cmt-media">
									<div class="media-left">
										<a href="#"><%= image_tag "recruit_computer.png", class: "media-object img-circle", width: "40"%></a>
									</div>
									<div class="media-body">
										<h6 class="media-heading">DxDy</h6>
										<p>其实程设真的很有趣～</p>
										<h6 class="text-muted clearfix">
											<span>时间：6天前</span>
											<%= link_to "javascript:void(0)" do %>
											<span class="pull-right"><span class="glyphicon glyphicon-thumbs-up"></span> <%= 2 %></span>
											<% end %>
										</h6>
									</div>
								</div>
								<hr>
								<% end %>
								<div class="text-center ">
									<br><%= render partial: "/interviews/paging"%><br>
								</div>
							</div>
						</div>
						<!-- answer tabs -->
						<div id="answer">
							<div class="col-xs-12">
								<div class="text-muted">问答</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<%= image_tag "advertisement.png", class: "img-responsive"%>
		<br>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$("#cmt-link a").click(function(){
			$("#cmt-link").addClass("active");
			$("#answer-link").removeClass("active");
			$("#cmt").show();
			$("#answer").hide();
		});
		$("#answer-link a").click(function(){
			$("#answer-link").addClass("active");
			$("#cmt-link").removeClass("active");
			$("#answer").show();
			$("#cmt").hide();
		});
	});
</script>