<div class="main-container" id="main-container">
  <script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  </script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <%= render 'training_platform/share/left_nav'%>

    <div class="main-content">
      <div class="page-content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <!-- <左侧> -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 task-left-content">
              <div class="row ace_content_left_title">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <%= link_to new_training_platform_project_task_path(project_id: @project.id, task_category_id: @task_category.try(:id), user_id: @user.try(:id),s: params[:s]), remote: true, format: :js do %>
                    <span class="glyphicon glyphicon-plus ace_plus" aria-hidden="true"></span><span class="ace_plus_word">添加任务</span>
                  <% end %>
                </div>
              </div>
              <div class="row ace_content_page_left">
                <%= render partial: "training_platform/share/task_list", 
                  locals: {
                    waits: (@user.principal_tasks "waits", @project.id),
                    dos: (@user.principal_tasks "dos", @project.id),
                    completes: (@user.principal_tasks "completes", @project.id),
                    acceprances: (@user.principal_tasks "acceprances", @project.id)
                  }%>
              </div>
            </div>
            <!-- <左侧> -->

            <!-- 右侧 -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="row ace_content_right_title">
                <%= render partial: "training_platform/share/right_header"%>
              </div>

              <div id="taskDetailShow" class="row ace_content_page_right">
                <%= render partial: "training_platform/users/task_blank"%>
              </div>

            </div>
            <!-- 右侧 -->
          </div>
        </div>      
        
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">

  $(function(){
    
    //菜单栏高度
    var head = $("#headerMenu").outerHeight();

    //右侧检索通知栏高度
    var rightTitle = $(".ace_content_right_title").outerHeight();

    //屏幕可见高端
    var clientHeight = document.body.clientHeight;

    //高度计算
    var scrollHeight = clientHeight - (head + rightTitle + 25) - document.body.scrollTop;

    $("#taskDetailShow").height(scrollHeight);

  });
    
</script>
