<h3 class="text-center title"><span>欢迎注册<span></h3>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "userDeviseSignUp"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :mobile, label: false, autofocus: true, input_html: {id: "userMobile"} %>
    <div class="row">
      <div class="col-sm-7">
        <%= f.input :sms, wrapper: :inline_form , label: false %>
      </div>
      <div class="col-sm-5">
        <%= link_to("获取验证码", "javascript:void(0);" , class: "btn btn-info devise-sms-btn", id: "getSmsBtn") %>
      </div>
    </div>
    <%= f.input :email, label: false %>
    <%= f.input :password, label: false %>
    <%= f.input :password_confirmation, label: false %>
  </div>

  <div class="form-actions row">
    <div class="col-sm-6">
      <%= f.button :submit, "立即注册", class: "btn btn-success" %>
    </div>
    <div class="col-sm-6">
      <%= link_to("返回登录", new_session_path(:user),remote: true, format: :js, class: "btn btn-info") %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $("#getSmsBtn").click(function(){
      var reg = /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;
      if(!$("#userMobile").val().match(reg)){
        alert("请输入正确的手机号");
      }else{
        $.ajax({
          type: "POST",
          url: "<%= sms_path %>.js",
          data: "sms[mobile]=" + $("#userMobile").val()
        });
      }
    });
  });
</script>