<h1><%= @recruitment.name %></h1>
<p>
  姓名：<%= @user.name %>
</p>
<p>
  性别：<%= @user.gender %>
</p>
<%= link_to("同意", url_for(controller: "user_recruitments", action: "agree", params: {r: @agree}), format: :js, remote: true ) %>
<%= link_to("不同意", url_for(controller: "user_recruitments", action: "agree", params: {r: @disagree}), format: :js, remote: true  ) %>
