<%= form_for(@recruitment) do |f| %>
  <% if @recruitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recruitment.errors.count, "error") %> prohibited this recruitment from being saved:</h2>

      <ul>
      <% @recruitment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :职位名称 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :职业类别 %><br>
    <%= f.text_area :industry %>
  </div>
  <div class="field">
    <%= f.label :性别要求 %><br>
    <%= f.text_area :gender %>
  </div>
  <div class="field">
    <%= f.label :性别要求 %><br>
    <%= f.text_area :number %>
  </div>
  <div class="field">
    <%= f.label :要求证书 %><br>
    <%= f.text_area :certificate %>
  </div>
  <div class="field">
    <%= f.label :学历要求 %><br>
    <%= f.text_area :degree_id %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_area :company_id %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_area :publish_time %>
  </div>
  <div class="field">
    <%= f.label :工作地区 %><br>
    <%= f.text_area :city %>
  </div>
  <div class="field">
    <%= f.label :薪资范围 %><br>
    <%= f.text_area :remuneration %>
  </div>
  <div class="field">
    <%= f.label :外语要求 %><br>
    <%= f.text_area :foreign_language %>
  </div>
  <div class="field">
    <%= f.label :其他要求 %><br>
    <%= f.text_area :others %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
