<% content_for :banner do %>
<%= render partial: "/share/banner"%>
<% end %>
<div class="container">
  <div class="row recruit_title">
    <div class="col-md-5"><hr class="divider"></div>
    <div class="col-md-2 recruit_class_word"><span class="recruit_class_title" >招聘分类</span></div>
    <div class="col-md-5"><hr class="divider"></div>
  </div>
  <div class="row recruit_class">
    <div class="col-md-12">
      <div class="col-md-3">
        <select class="form-control">
          <option>请选择职位类别</option>
        </select>
      </div>
      <div class="col-md-3">
        <select class="form-control">
          <option>请选择行业类别</option>
        </select>
      </div>
      <div class="col-md-4">
        <input class="form-control" placeholder="请输入职位名、公司名等关键字"/>
      </div>
      <div class="col-md-2 find_job">
        <%=link_to "找工作", '#' ,class:"btn" %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-3">
        <select class="form-control">
          <option>上海</option>
        </select>
      </div>
      <div class="col-md-3">
        <select class="form-control">
          <option>薪资</option>
        </select>
      </div>
      <div class="col-md-2">
        <select class="form-control">
          <option>学历</option>
        </select>
      </div>
      <div class="col-md-2">
        <select class="form-control">
          <option>工作经验</option>
        </select>
      </div>
    </div>
    <div class="container">
    <div class="row recruit_title">
      <div class="col-md-5"><hr class="divider"></div>
      <div class="col-md-2 recruit_class_word"><span class="recruit_class_title" >招聘信息</span></div>
      <div class="col-md-5"><hr class="divider"></div>
    </div>
    </div>
    <div class="container">
      <table class="table table-hover recruitment-list">
      <thead>
        <tr>
          <th>职位</th>
          <th>logo</th>
          <th>公司</th>
          <th>工作地点</th>
          <th width="12%">
            发布时间<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </th>
          <th width="10%">
            点击量<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </th>
          <th width="6%">收藏</th>
          <th width="10%">申请工作</th>
        </tr>
        </thead>
        <tbody class="recruit_list_text">
        <% @recruitments.each do |recruitment| %>
        <tr>
          <td><%=link_to recruitment.name, recruitment_path(recruitment) %></td>
          <td><%=image_tag recruitment.try(:company).try(:logo_url).present? ? recruitment.try(:company).try(:logo_url) : "0401_1.png" %></td>
          <td><%=recruitment.try(:company).try(:name) %></td>
          <td><%=recruitment.city %></td>
          <td><%=recruitment.publish_time %></td>
          <td><%=recruitment.view_count %></td>
          <td>
            <%= link_to("javascript:void(0);" , title: "收藏", class: "vote-create-a", voteable_id: recruitment.id, voteable_type: recruitment.class, is_like: (current_user.try(:voted_up_on?,recruitment)) ) do %>
              <span id="voteRecruitmentSpan<%= recruitment.id %>" class="glyphicon <%= (current_user.try(:voted_up_on?,recruitment)) ? "glyphicon-star" : "glyphicon-star-empty" %> iconstar" aria-hidden="true"></span>
            <% end %>
          </td>
          <td><%=link_to"投递简历" , '#' ,class:"deliver"%></td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @recruitments %>
    </div>
</div>

<%= content_for :scripts do %>
  <%= javascript_tag do %>
    vote_create_path = "<%= votes_path %>.js"
  <% end %>
  <%= javascript_include_tag "votes", 'data-turbolinks-track' => true  %>
<% end %>