<div class="container waper">
   <div class="row recruit_title">
    <div class="col-md-5"><hr class="divider"></div>
    <div class="col-md-2 recruit_class_word"><span class="recruit_class_title" >基本信息</span></div>
    <div class="col-md-5"><hr class="divider"></div>
  </div>
  </div>
  <div class="container">
  <div class=" col-md-12 recruit_table">
    <table class="recruit_table1">
      <tr>
          <td width="15%">职位名称</td>
          <td width="35%" class="text-left"> <%= @recruitment.name %></td>
          <td width="15%">职业类别</td>
          <td width="35%" class="text-left"> <%=@recruitment.industry %></td>
        </tr>
        <tr>
          <td>招聘人数</td>
          <td class="text-left"> <%=@recruitment.number %>人</td>
          <td>性别要求</td>
          <td class="text-left"> <%=@recruitment.gender %></td>
        </tr><tr>
          <td>要求证书</td>
          <td class="text-left"> <%=@recruitment.certificate %></td>
          <td>学历要求</td>
          <td class="text-left"> <%=@recruitment.try(:degree).try(:name) %></td>
        </tr><tr>
          <td>工作地区</td>
          <td class="text-left"> <%=@recruitment.city %></td>
          <td>薪资范围</td>
          <td class="text-left"> <%=@recruitment.remuneration %></td>
        </tr><tr>
          <td>外语要求</td>
          <td class="text-left"> <%=@recruitment.foreign_language %></td>
          <td>其他要求</td>
          <td class="text-left"> <%=@recruitment.others %></td>
        </tr>
    </table>
  </div>
  </div>
  <div class="container">
    <div class="row recruit_title">
    <div class="col-md-5"><hr class="divider"></div>
    <div class="col-md-2 recruit_class_word"><span class="recruit_class_title" >职位描述</span></div>
    <div class="col-md-5"><hr class="divider"></div>
  </div>
  </div>
  <div class="container">
    <div class="col-md-12 recruit_content">
      <%= raw(@recruitment.description)%>
    </div>
  </div>
<div class="container">
    <div class="row recruit_title">
    <div class="col-md-5"><hr class="divider"></div>
    <div class="col-md-2 recruit_class_word"><span class="recruit_class_title" >公司介绍</span></div>
    <div class="col-md-5"><hr class="divider"></div>
  </div>
  <div class="col-md-12 recruit_content">
    <br><p class="company"><%= @recruitment.try(:company).try(:description)%></p>
    <hr class="divider1">
    <p>地址：<%= @recruitment.try(:company).try(:address)%> &nbsp;&nbsp;&nbsp;<%=image_tag "map.ico",class:"map" %>&nbsp;<%=link_to "查看地图",'#' %></p>
    <p>网址：<%= @recruitment.try(:company).try(:web_address)%></p>
  </div>
  <div class="btn_tab">
  <div class="col-md-2 btn_apply col-md-offset-2">
        <%=link_to "立刻申请 ", '#' ,class: "btn" %>
      </div>
      <div class="col-md-2  btn_collection col-md-offset-3">
        <%=link_to "我要收藏", '#' ,class: "btn" %>
      </div>
      </div>
  </div>