<%= content_for :nav do%>
  <li>
    <a href="<%= admin_root_path%>">后台</a>
  </li>
  <li>
    <a href="<%= admin_teachers_path%>">院校列表</a>
  </li>
  <li>
    <a href="<%= admin_teacher_path(@teacher)%>"><%= @teacher.name %></a>
  </li>
  <li class="active">修改</li>
  <hr></hr>
  <%= render 'form' %>
<%end%>