<%= simple_form_for @edu_experience, url: user_edu_experiences_path(@user), method: :post, wrapper: :resumes_form,  html: { class: "resumes_form" } do |f| %>
	<div class="my-col col-md-12 add1">
		<h3>教育经历</h3>
		<span class="my-add1">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><%= f.button :submit , '添加经历' %>
		</span>
	</div>
	<div class="form-group my-group">
	  	<%= f.label :school, '毕业院校', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :school %>
	    </div>
	</div>
	<div class="form-group my-group">
		<%= f.label :time, '起止时间', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :time %>
	    </div>
	</div>
	<div class="form-group my-group">
		<%= f.label :major, '所学专业', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :major %>
	    </div>
	</div>
	<div class="form-group my-group">
		<%= f.label :education, '所获学历', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :education %>
	    </div>
	</div>
<% end %>