<%= simple_form_for @iternship, url: user_iternships_path(@user), method: :post, wrapper: :resumes_form,  html: { class: "resumes_form" } do |f| %>
	<div class="my-col col-md-12 add1">
		<h3>实习经历</h3>
		<span class="my-add1">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><%= f.button :submit , '添加经历' %>
		</span>
	</div>
	<div class="form-group my-group">
	  	<%= f.label :company, '公司名称', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :company %>
	    </div>
	</div>
	<div class="form-group my-group">
		<%= f.label :time, '起止时间', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :time %>
	    </div>
	</div>
	<div class="form-group my-group">
		<%= f.label :address, '所在地址', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :address %>
	    </div>
	</div>
	<div class="form-group my-group">
		<%= f.label :job, '担任职务', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :job %>
	    </div>
	</div>
<% end %>