<%= simple_form_for @projects_exp, url: user_projects_exps_path(@user), method: :post,remote: true, format: :js, wrapper: :resumes_form,  html: { class: "resumes_form" } do |f| %>
	<div class="my-col col-md-12 add1">
		<h3>项目经验</h3>
		<span class="my-add1">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><%= f.button :submit , '添加经历' %>
		</span>
	</div>
	<% @projects_exps.each do |project| %>
		<div class="col-md-5"><%= project.title %></div>
		<div class="col-md-4"><%= project.time %></div>
		<div class="col-md-2"><%= project.role %></div>
		<div class="col-md-1"><%= project.custom %></div>
	<% end %>
	<div class="form-group my-group">
	  	<%= f.label :title, '项目名称', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :title %>
	    </div>
	</div>
	<div class="form-group my-group">
		<%= f.label :time, '起止时间', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :time %>
	    </div>
	</div>
	<div class="form-group my-group">
		<%= f.label :role, '所任角色', class: 'col-md-2 control-label' %>
	    <div class="col-md-4">
	      <%= f.input :role %>
	    </div>
	</div>
	<div class="form-group my-group">
		<%= f.label :certificate, '项目凭证', class: 'col-md-2 control-label' %>
		<div class="col-md-4 input-group input-set">
			<%= f.input :certificate %>
		    <div class="input-group-addon my-addon">
		    <a href="#">浏览</a>
	      	</div>
	    </div>
	</div>
	<div class="form-group my-group">
		<%= f.label :custom, '自定义内容', class: 'col-md-2 control-label' %>
		<div class="col-md-10">
	    <%= f.input :custom %>
		</div>
	</div>
<% end %>