<tr>
  <td><%= technology.id %></td>
  <td><%= technology.name %></td>
  <td><%= image_tag(technology.try(:image).try(:avatar), size: "340x200") %></td>
  <td><%= link_to "阶段列表", "#" %></td>
  <td>
    <%= link_to edit_admin_technology_path(technology), class: 'btn btn-xs btn-default', title: '编辑' do %>
      <span class="glyphicon glyphicon-edit"></span>
    <%end%>
    <%= link_to admin_technology_path(technology), data:{ confirm: 'Are you sure?'},method: :delete, class: 'btn btn-xs btn-danger', title: '删除' do %>
      <span class="glyphicon glyphicon-trash"></span>
    <%end%>
  </td>
</tr>