<div id="left-bar" class="col-sm-2">
  <ul id="xcui-menu">
    <li>
      <%= link_to admin_colleges_path do %>
        <span class="glyphicon glyphicon-book"></span> 院校列表
      <%end%>
    </li>
    <li>
      <%= link_to "" do %>
        <span class="glyphicon glyphicon-user"></span> 教师列表
      <%end%>
    </li>
    <li>
      <%= link_to "" do %>
        <span class="glyphicon glyphicon-tasks"></span> 学生列表
      <%end%>
    </li>
    <li>
      <%= link_to "" do %>
        <span class="glyphicon glyphicon-flag"></span> 学院列表
      <%end%>
    </li>
    <li>
      <%= link_to "" do %>
        <span class="glyphicon glyphicon-th-list"></span> 专业列表
      <%end%>
    </li>
  </ul>
</div>