<div id="left-bar" class="col-sm-2">
	<ul id="xcui-menu">
		<li>
			<%= link_to admin_colleges_path do %>
				<span class="glyphicon glyphicon-book"></span> 院校列表
			<%end%>
		</li>

		<li>
			<%= link_to admin_recruitments_path do %>
				<span class="glyphicon glyphicon-tag"></span> 招聘列表
			<%end%>
		</li>
		<li>
			<%= link_to admin_trains_path do %>
				<span class="glyphicon glyphicon-education"></span> 职前培训
			<%end%>
		</li>
		<li>
			<%= link_to admin_companies_path do %>
				<span class="glyphicon glyphicon-briefcase"></span> 公司列表
			<%end%>
		</li>

		<li>
			<%= link_to admin_categories_path do %>
				<span class="glyphicon glyphicon-user"></span> 课程分类
			<%end%>
		</li>
		<li>
			<%= link_to admin_teachers_path do %>
				<span class="glyphicon glyphicon-user"></span> 教师列表
			<%end%>
		</li>
		<li>
			<%= link_to admin_courses_path do %>
				<span class="glyphicon glyphicon-tasks"></span> 课程列表
			<%end%>
		</li>
		<li>
			<%= link_to admin_applies_path do %>
				<span class="glyphicon glyphicon-list-alt"></span> 报名统计
			<% end %>
		</li>
	</ul>
</div>