<div class="main-container" id="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>

		<%= render 'training_platform/share/left_nav'%>

		<div class="main-content">
			<div class="page-content">
				<div class="col-xs-12">
					<div class="row">
						<!-- PAGE CONTENT BEGINS -->
						<div class="col-xs-6 ace_content_left_title">
							<%= link_to(new_training_platform_project_announce_path, remote: true, format: :js) do %>
								<span class="glyphicon glyphicon-plus ace_plus" aria-hidden="true"></span>
								<span class="ace_plus_word">添加公告</span>
							<% end %>
						</div>
						<!-- begin right-title -->
						<div class="col-xs-6 ace_content_right_title">
							<%= render partial: "training_platform/share/right_header"%>
						</div>
						<!-- end right-title -->
						<div class="col-xs-6 ace_content_page_left">
							<!-- 公告列表 -->
							<div id="anno-index">
								<%= render partial: "announces" %>
							</div>
						</div>

						<div class="col-xs-6 ace_content_page_right">
							<!-- 显示公告信息 -->
							<div id="anno-show">
								<%= render partial: 'show_announce' %>
							</div>
							
						</div>
						<!-- PAGE CONTENT ENDS -->
					</div>
				</div><!-- /.col -->
			</div><!-- /.page-content -->
		</div><!-- /.main-content -->
	</div>
</div>

