<%= simple_form_for([:admin, @profession, @profession_stage], html: {class: "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label :name, '阶段名称', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :discribe, '描述', class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :discribe, class: 'form-control' %>
    </div>
  </div>
  <hr></hr>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-success" type="submit">
        <span class="glyphicon glyphicon-floppy-save">保存</span>
      </button>
    </div>
  </div>
<% end %>