<% if @applies.present? %>
	<% @applies.each_with_index do |apply, index| %>
		<div class="frame margin-b-10">
			<div class="clearfix text-center">
				<%= link_to wechat_apply_path(apply, source: 'index') do %>
					<div class="col-xs-4 no-padding train-name">
						<span><%= index + 1%>. <%= apply.train_name %></span>
					</div>
					<div class="col-xs-4 no-padding">
						<span><%= apply.updated_at.strftime("%F") %></span>
					</div>
				<% end %>
				<div class="col-xs-4 no-padding">
					<%= link_to(wechat_apply_path(apply), method: :delete, remote: true, format: :js, data: { confirm: '您要取消报名该课程吗？' }) do %>
						<button class="btn btn-danger btn-sm cancel-btn">取消报名</button>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
<% else %>
	<h4 class="text-center text-warning">没有报名记录，赶快去 <%= link_to "报名", new_wechat_apply_path %> 吧！</h3>
<% end %>