<%= simple_form_for([:wechat, @apply], remote: true, format: :js, html: {class: "form-horizontal"}, wrapper: :wechat_apply_form) do |f| %>
	<p class="sr-only"><%= @apply.errors.any? %></p>
	<%= f.hidden_field :openid, value: session[:openid] %>
	<%= f.hidden_field :way %>
	<%= f.hidden_field :train_name %>
	<div class="clearfix">
		<%= f.input :name, required: true, placeholder: "姓名＊", wrapper_html: {class: 'col-xs-6 no-padding'} %>
		<label class="col-xs-2 no-padding">性别*</label>
		<%= f.hidden_field :sex %>
		<div class="col-xs-4 no-padding">
			<div class="col-xs-6 no-padding my-border" id="man">男</div>
			<div class="col-xs-6 no-padding my-border" id="woman">女</div>				
		</div>
	</div>
	<%= f.input :phone, placeholder: "手机＊" %>
	<%= f.input :qq, placeholder: "QQ＊" %>
	<%= f.input :email, placeholder: "邮箱＊" %>
	<%= f.input :address, placeholder: "地址＊" %>
	<div class="row">
		<%= f.input :situation, collection: Apply::SITUATION.invert, wrapper_html: {class: 'col-xs-6 rpadding'}, selected: Apply::SITUATION.invert["在职"], placeholder: "目前状态" %>
		<%= f.input :degree, collection: Apply::DEGREE.invert, wrapper_html: {class: 'col-xs-6 lpadding'}, selected: Apply::DEGREE.invert["本科"], placeholder: "教育状况" %>
	</div>
	<%= f.input :school_name, placeholder: "最高院校" %>
	<%= f.button :button, class: "my-btn" do %>
	<%= content_tag(:div, "提交信息", class: "text-center") %>
	<% end %>
<% end %><!-- end: 报名表单 -->

<script>
	// 性别选择点击按钮效果
	 $(function(){
	 	var default_sex = $("#apply_sex").val();
	 	if(default_sex == "man"){
	 		$("#man").addClass("wcolor");
	 	}else{
	 		$("#woman").addClass("wcolor");
	 	}
	 	$("#man").click(function(){
 			$("#woman").removeClass("wcolor");
			$("#man").addClass("wcolor");
			$("#apply_sex").val("man");
	 	});
 		$("#woman").click(function(){
	 		$("#man").removeClass("wcolor");
 			$("#woman").addClass("wcolor");	
 			$("#apply_sex").val("woman"); 	
	 	});
	 })
</script>