<!-- begin: 选择了解渠道 -->
<%= render partial: "way" %>
<!-- end: 选择了解渠道 -->

<!-- begin: 选择报名的课程 -->
<%= render partial: "train_name", locals: {train_names: @train_names} %>
<!-- end: 选择报名的课程 -->

<!-- begin: 填写个人信息 -->
<div class="container my-main" id="my_info" style="display:none">
	<div class="my-row text-center clearfix">
		<div class="text-center">
			<%=image_tag"apply2.png",width:"90%"%>
		</div>
		<h3><strong>报名信息修改</strong></h3>
		<!-- begin: 报名表单 -->
		<div id="apply_form">
			<%= render partial: "form" %>
		</div><!-- end: 报名表单 -->
		<div class="col-xs-12 turn-back"><a href="javascript: void(0);" id="back-course">返回上一页</a></div>
	</div>
</div><!-- end: 填写个人信息 -->

<!-- js -->
<script type="text/javascript">
	// 设置背景图
	$(function(){
		$.backstretch("<%= image_url "apply_info3.png"%>");
	});
	//了解渠道的显示与点击效果
	$(function(){
		//显示
		var way_info = $("#apply_way").val();
		$(".way").each(function(){
			if($(this).attr("data-value") == way_info){
				$(this).addClass("selected");
			}
		});
		//修改
		$(".way").click(function(){
			$(".way").removeClass("selected");
			$(this).addClass("selected");
			var way = $(this).attr("data-value");
			$("#apply_way").val(way);
		});
	});
	//选择课程的显示与点击效果
	$(function(){
		//显示
		var course_info = $("#apply_train_name").val();
		$(".course").each(function(){
			if($(this).attr("data-value") == course_info){
				$(this).addClass("selected");
			};
		});
		//修改
		$(".course").click(function(){
			$(".course").removeClass("selected");
			$(this).addClass("selected");
			var course = $(this).attr("data-value");
			$("#apply_train_name").val(course);
		});
		// 显示不同步骤
		$(function(){
			$(".new1").click(function(){
				if($(".way.selected").length>0){
					$("#my_course").show();
					$("#my_way").hide( );
				}
				else{
					alert("请选择了解渠道");
				}
			});
			$(".new2").click(function(){
				if($(".course.selected").length>0){
					$("#my_info").show();
					$("#my_course").hide();
				}
				else{
					alert("请选择意向课程");
				}		
			});
			$("#back-way").click(function(){
				$("#my_course").hide();
				$("#my_way").show();
			});
			$("#back-course").click(function(){
				$("#my_info").hide();
				$("#my_course").show();
			})
		});
	});
</script>


