<!-- begin: 选择了解渠道 -->
<div class="container my-main"  id="my_way">
	<div class="my-row text-center clearfix">
		<div class="text-center">
			<%=image_tag"apply2.png",width:"90%"%>
		</div>
		<p class="text-center my-p">您好，欢迎参加全栈工程师的培训<br>为了让你能更好的参加培训<br>请认真填写一下信息</p>
		<h3 class="text-center">您是如何知道我们的 ？</h3>
		<div class="col-xs-12 frame">
			<div class="way">老师推荐</div>
		</div>
		<div class="col-xs-12 frame">
			<div class="way">校园宣讲</div>
		</div>
		<div class="col-xs-12 frame">
			<div class="way">朋友介绍</div>
		</div>
		<div class="col-xs-12 frame">
			<div class="way">邦彦网站</div>
		</div>
		<div class="col-xs-12 frame">
			<div class="way">其他</div>
		</div>
		<button type="button" class="btn btn-lg btn-block my-lg new1">下一步</button>
		<ul class="my-ul text-center">
			<li>
				<a href="javascript: void(0);" onclick="javascript:history.back(-1);">返回上一页</a>
			</li>
		</ul>
	</div>
</div><!-- end: 选择了解渠道 -->

<!-- begin: 选择报名的课程 -->
<div class="container my-main" id="my_course" style="display:none">
	<div class="my-row text-center clearfix">
		<div class="text-center">
			<%=image_tag"apply2.png",width:"90%"%>
		</div>
		<p class="text-center my-p">您好，欢迎参加全栈工程师的培训<br>为了让你能更好的参加培训<br>请认真填写一下信息</p>
		<h3>请选择一门意向课程</h3>
		<div class="col-xs-12 frame">
			<div class="course">ios开发</div>
		</div>
		<div class="col-xs-12 frame">
			<div class="course">安卓开发</div>
		</div>
		<div class="col-xs-12 frame">
			<div class="course">WEB全栈</div>
		</div>	
		<button type="button" class="btn btn-lg btn-block my-lg new2">下一步</button>
	</div>
	<ul class="my-ul text-center">
		<li><a href="javascript: void(0);" id="back-way">返回上一页</a></li>
	</ul>
</div><!-- end: 选择报名的课程 -->

<!-- begin: 填写个人信息 -->
<div class="container my-main" id="my_info" style="display:none">
	<div class="my-row text-center clearfix">
		<div class="text-center">
			<%=image_tag"apply2.png",width:"90%"%>
		</div>
		<h3>在线报名</h3>
		<!-- begin: 报名表单 -->
		<%= simple_form_for([:wechat, @apply], html: {class: "form-horizontal"}, wrapper: :wechat_apply_form) do |f| %>
			<%= f.hidden_field :openid, value: session[:openid] %>
			<%= f.hidden_field :way %>
			<%= f.hidden_field :train_name %> 
			<%= f.input :name, placeholder: "姓名＊", wrapper_html: {class: 'col-xs-7 no-padding'} %>
			<label class="col-xs-2 no-padding">性别*</label>
			<%= f.input :sex, collection: Apply::SEX.invert, wrapper_html: {class: 'col-xs-3 no-padding'}, label: "性别*" %>
			<%= f.input :phone, placeholder: "手机＊" %>
			<%= f.input :qq, placeholder: "QQ＊" %>
			<%= f.input :email, placeholder: "邮箱＊" %>
			<%= f.input :address, placeholder: "地址＊" %>
			<div class="row">
				<%= f.input :situation, collection: Apply::SITUATION, wrapper_html: {class: 'col-xs-6 '}, placeholder: "目前状态" %>
				<%= f.input :degree, collection: Apply::DEGREE, wrapper_html: {class: 'col-xs-6 '}, placeholder: "教育状况" %>
			</div>
			<%= f.input :school_name, placeholder: "最高院校" %>
			<botton class="btn btn-default my-btn"><div class="text-left">&nbsp;&nbsp;提交信息</div></botton>
		<% end %><!-- end: 报名表单 -->
	</div>
	<ul class="my-ul text-center">
		<li><a href="javascript: void(0);" id="back-course">返回上一页</a></li>
	</ul>
</div><!-- end: 填写个人信息 -->

<!-- js -->
<script type="text/javascript">
	// 设置背景图
	$(function(){
		$.backstretch("<%= image_url "apply_info3.png"%>");
	});
	// 显示不同步骤
	$(function(){
		$(".new1").click(function(){
			$("#my_course").show();
			$("#my_way").hide( );
		});
		$(".new2").click(function(){
			$("#my_info").show();
			$("#my_course").hide();
		});
		$("#back-way").click(function(){
			$("#my_course").hide();
			$("#my_way").show();
		});
		$("#back-course").click(function(){
			$("#my_info").hide();
			$("#my_course").show();
		})
	});
	//了解渠道的点击效果
	$(function(){
		$(".way").click(function(){
			$(".way").removeClass("selected");
			$(this).addClass("selected");
			var way = $(this).text();
			$("#apply_way").val(way);
		});
	});
	//选择课程的点击效果
	$(function(){
		$(".course").click(function(){
			$(".course").removeClass("selected");
			$(this).addClass("selected");
			var course = $(this).text();
			$("#apply_train_name").val(course);
		});
	});
</script>

