<!-- begin: 选择了解渠道 -->
<%= render partial: "way" %>
<!-- end: 选择了解渠道 -->

<!-- begin: 选择报名的课程 -->
<%= render partial: "train_name", locals: {train_names: @train_names} %>
<!-- end: 选择报名的课程 -->

<!-- begin: 填写个人信息 -->
<div class="container my-main" id="my_info" style="display:none">
	<div class="my-row text-center clearfix">
		<div class="text-center">
			<%=image_tag"apply2.png",width:"90%"%>
		</div>
		<h3><strong>在线报名</strong></h3>
		<!-- begin: 报名表单 -->
		<div id="apply_form">
			<%= render partial: "form" %>
		</div><!-- end: 报名表单 -->
		<div class="col-xs-12 turn-back"><a href="javascript: void(0);" id="back-course">返回上一页</a></div>
	</div>
</div><!-- end: 填写个人信息 -->

<!-- js -->
<script type="text/javascript">
	// 设置背景图
	$(function(){
		$.backstretch("<%= image_url "apply_info3.png"%>");
	});
	// 显示不同步骤
	$(function(){
		$(".new1").click(function(){
			if($(".way.selected").length>0){
				$("#my_course").show();
				$("#my_way").hide( );
			}
			else{
				alert("请选择了解渠道");
			}
		});
		$(".new2").click(function(){
			if($(".course").length == 0){
				alert("您已经报名了全部课程，无须再报名了");
			}else{
				if($(".course.selected").length>0){
					$("#my_info").show();
					$("#my_course").hide();
				}
				else{
					alert("请选择意向课程");
				}	
			}	
		});
		$("#back-way").click(function(){
			$("#my_course").hide();
			$("#my_way").show();
		});
		$("#back-course").click(function(){
			$("#my_info").hide();
			$("#my_course").show();
		})
	});
	//了解渠道的点击效果
	$(function(){
		$(".way").click(function(){
			$(".way").removeClass("selected");
			$(this).addClass("selected");
			var way = $(this).text();
			$("#apply_way").val(way);
		});
	});
	//选择课程的点击效果
	$(function(){
		$(".course").click(function(){
			$(".course").removeClass("selected");
			$(this).addClass("selected");
			var course = $(this).text();
			$("#apply_train_name").val(course);
		});
	});
</script>

