<!-- begin: 填写个人信息 -->
<div class="container my-main">
	<div class="my-row text-center clearfix">
		<div class="text-center">
			<%=image_tag"apply2.png",width:"90%"%>
		</div>
		<p class="text-center my-p">您好，<%= @apply.name %><br>你已经提交成功，请耐心等待<br>我们将尽快和您联系</p>
		<!-- begin: 报名信息 -->
		<div class="col-xs-6 mgin-b-10 rpadding"><div class="frame"><%= @apply.name %></div></div>		
		<div class="col-xs-6 mgin-b-10 lpadding"><div class="frame"><%= Apply::SEX[@apply.sex.to_sym] %></div></div>
		<div class="col-xs-6 mgin-b-10 rpadding"><div class="frame"><%= @apply.phone %></div></div>
		<div class="col-xs-6 mgin-b-10 lpadding"><div class="frame"><%= @apply.qq %></div></div>
		<div class="col-xs-12 mgin-b-10"><div class="frame"><%= @apply.email %></div></div>
		<div class="col-xs-12 mgin-b-10"><div class="frame"><%= @apply.address %></div></div>
		<div class="col-xs-6 mgin-b-10 rpadding"><div class="frame"><%= Apply::SITUATION[@apply.situation.to_sym] %></div></div>
		<div class="col-xs-6 mgin-b-10 lpadding"><div class="frame"><%= Apply::DEGREE[@apply.degree.to_sym] %></div></div>
		<div class="col-xs-12 mgin-b-10"><div class="frame"><%= @apply.school_name %></div></div>
		<div class="col-xs-6 mgin-b-10 rpadding"><div class="frame"><%= @apply.way %></div></div>
		<div class="col-xs-6 mgin-b-10 lpadding"><div class="frame"><%= @apply.train_name %></div></div>
		<!-- end: 报名信息 -->
	</div>
	<div class="col-xs-12 turn-back"><%= link_to("返回报名页面", wechat_root_path(openid: session[:openid])) %></div>
</div><!-- end: 填写个人信息 -->
<script>
	// 设置背景图
	$(function(){
		$.backstretch("<%= image_url "apply_info3.png"%>");
	});
</script>