<h3 class="text-center title"><span>欢迎登录<span></h3>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true, format: :json, html: {id: "userDeviseLogin"}) do |f| %>
  <div class="form-inputs">
    <%= f.input :mobile, required: false, label: false, autofocus: true %>
    <%= f.input :password, required: false, label: false %>
    <div class="form-group boolean optional user_remember_me">
      <%= f.input :remember_me, wrapper: :login_boolean , as: :boolean if devise_mapping.rememberable? %>
      <%= link_to "忘记密码?", edit_password_path(resource_name, reset_password_token: "6fe1a6adb110f074abe8a97518aa83e3b4eb4"), remote: true, format: :js, class: "pull-right" %><br>
    </div>
  </div>

  <div class="form-actions row">
    <div class="col-sm-6">
      <%= f.button :submit, "确认登录", class: "btn btn-info" %>
    </div>
    <div class="col-sm-6">
      <%= link_to("立即注册", new_registration_path(:user),remote: true, format: :js, class: "btn btn-success") %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $('#userDeviseLogin').on('ajax:complete', function(e, xhr, type){
      if (type === 'success') {
        location.href = '/';
      } else {
        alert(xhr);
        alert(e.flash);
      }
    });
  });
</script>