<%= simple_form_for @user, url: user_path(@user),wrapper: :horizontal_form,  html: { class: "form-horizontal" } do |f| %>
	<%= f.input :nickname %>

	<% if @user.image.present? %>
		<div class="form-group">
			<%= label_tag :image, '已上传头像', class: 'col-sm-2 col-sm-offset-2 control-label' %>
			<div class="col-sm-6 container">
				<%= image_tag(@user.try(:image).try(:avatar), size: "200x200") %>
			</div>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :image, '我的头像', class: 'col-sm-2 col-sm-offset-2 control-label' %>
		<div class="col-sm-6 container">
			<%= f.file_field :image %>
		</div>
	</div>

	<%= f.input :name, label: "姓名" %>
	<%= f.input :department, collection: User.departments, prompt: "请选择院系", label: "所属院系" %>
	<%= f.input :major, collection: User.majors, prompt: "请选择专业", label: "所属专业" %>
	<%= f.input :mobile, required: false %>
	<%= f.input :email, placeholder: 'user@domain.com'%>
	<div class="form-group">
		<label class="col-sm-2 col-sm-offset-2 control-label">性别</label>
		<div class="col-sm-6">
			<%=f.collection_radio_buttons :gender, [[true, '男'] ,[false, '女']], :first, :last, class: "col-xs-2"%>
		</div>
	</div>
	<%= f.input :signature ,label: '个性签名'%>
	<div class="form-group modify-btn">
		<div class="col-sm-offset-4 col-sm-6">
			<%= f.button :submit , '提交修改', class:"btn btn-default mybtn my_btn1"%>
			<%= f.button :submit , '取消修改', class:"btn btn-default mybtn my_btn2 pull-right"%>
		</div>
	</div>
<% end %>
<script type="text/javascript">
  $(function(){
    $("#user_image").fileinput();
  });
</script>