<div class="my-banner">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 my-shadow">
				<div class="info-pic text-center">
					<%= link_to(home_user_path(@user)) do %>
						<%= image_tag @user.show_image, class: "img-circle", width: "150", height: "150"%>
					<% end %>
					<h2><%= link_to(@user.show_name, home_user_path(@user))%></h2>
					<p><%= @user.department %>  &nbsp;&nbsp; &nbsp;&nbsp; <%= @user.major %></p>
					<p>
						<%= link_to("印象评价", @user == current_user ? my_impression_user_index_path : comment_user_path(@user)) %>
					  &nbsp;&nbsp; ｜  &nbsp;&nbsp;  
					  <%= link_to("个人资料", @user == current_user ? user_path(@user) : infos_user_path(@user)) %>
					</p>
				</div>
			</div>
		</div>
	</div>	
</div>