<div class="wrapper">
	<div class="content">
		<div class="row">
		<!-- 基本信息 -->
			<div class="my-col col-md-12">
				<h3>基本信息</h3>
			</div>
			<%= simple_form_for @basic_info, url: basic_infos_path(@user),wrapper: :resumes_form,  html: { class: "resumes_form" } do |f| %>
			<div class="my-col col-md-7">
				<!-- 	<div class="form-group my-group">
				<label for="inputName" class="my-col col-md-2 control-label">真实姓名</label>
					<div class="col-md-10">
				    	<input type="text" class="form-control" id="inputName" >
				    </div>
				</div> -->
				<div class="form-group my-group">
					<%= f.label :name, '姓名', class: 'col-md-3 control-label' %>
					<div class="my-col col-md-9">
						<%= f.input :name %>
					</div>
				</div>
				<div class="form-group my-group">
					<%= f.label :college, '学院学历', class: 'col-md-3 control-label' %>
					<div class="my-col col-md-5">
						<%= f.input :college %>
					</div>
					<div class="my-col col-md-4">
						<%= f.input :education %>
					</div>
				</div>
				<div class="form-group my-group">
					<%= f.label :skill, '技能方向', class: 'col-md-3 control-label' %>
					<div class="my-col col-md-9">
						<%= f.input :skill %>
					</div>
				</div>
			  	<div class='rails-helper city-group'>
					<%= select_tag "p", options_for_select(ChinaCity.list) , prompt: '--省份--', class: ['city-select'] %>
					<%= select_tag "c", options_for_select([]), prompt: '--城市--', class: ['city-select'] %>
				</div>
				<%= hidden_field_tag "user_id", current_user.id %>
				<div class="form-group my-group text-center">
					<%= f.button :submit , '提交修改', class:"btn btn-default mybtn my_btn1" %>
				</div>
			</div>
			<div class="my-col col-md-5">
				<div class="my-col col-md-4">
					<h4>头像选择</h4>
				</div>
				<% if @user.image.present? %>
				<div class="my-col col-md-6">
					<%= image_tag(@basic_info.try(:image).try(:avatar), size: "110x150") %>
				</div>	
				<div class="form-group">
					<div class="col-sm-6 container">
						<%= f.file_field :image %>
					</div>
				</div>
				<% end %>
			</div>


			<div class="my-col col-md-5 pull-right">
				<div class="form-group my-group">
					<%= f.label :email, '电子邮箱', class: 'col-md-4 control-label' %>
					<div class="my-col col-md-8">
						<%= f.input :email, value: "example@xxx.com" %>
					</div>
				</div>
				<div class="form-group my-group">
					<%= f.label :intention, '求职意向', class: 'col-md-4 control-label' %>
					<div class="my-col col-md-8">
						<%= f.input :intention %>
					</div>
				</div>
			</div>
			<% end %>
		<!-- 教育经历 -->
			<div class="my-col col-md-12 add1">
				<h3>教育经历</h3>
				<span class="my-add1">
					<a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 添加经历</a>
				</span>
			</div>
			<div class="my-col col-md-12">
				<form>
					<div class="form-group my-group">
					  	<%#= f.label :school, '毕业院校', class: 'col-md-2 control-label' %>
					    <div class="col-md-4">
					      <%#= f.input :school %>
					    </div>
					</div>
					<div class="form-group my-group">
						<%#= f.label :time, '起止时间', class: 'col-md-2 control-label' %>
					    <div class="col-md-4">
					      <%#= f.input :time %>
					    </div>
					</div>
					<div class="form-group my-group">
						<%#= f.label :major, '所学专业', class: 'col-md-2 control-label' %>
					    <div class="col-md-4">
					      <%#= f.input :major %>
					    </div>
					</div>
					<div class="form-group my-group">
						<%#= f.label :education, '所获学历', class: 'col-md-2 control-label' %>
					    <div class="col-md-4">
					      <%#= f.input :education %>
					    </div>
					</div>
				</form>
			</div>
		<!-- 实习经历 -->
			<div class="my-col col-md-12 add1">
				<h3>实习经历</h3>
				<span class="my-add1">
					<a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 添加经历	</a>
				</span>
			</div>
			<div class="my-col col-md-12">
				<form class="form-horizontal">
				  <div class="form-group my-group">
				    <label for="inputText" class="col-md-2 control-label">公司名称</label>
				    <div class="col-md-4">
				      <input type="text" class="form-control" id="inputText">
				    </div>
				    <label for="inputText" class="col-md-2 control-label">起止时间</label>
				    <div class="col-md-4">
				      <input type="text" class="form-control" id="inputText">
				    </div>
				  </div>
				  <div class="form-group my-group">
				    <label for="inputText" class="col-md-2 control-label">所学地址</label>
				    <div class="col-md-4">
				      <input type="text" class="form-control" id="inputText">
				    </div>
				    <label for="inputText" class="col-md-2 control-label">所任职务</label>
				    <div class="col-md-4">
				      <input type="text" class="form-control" id="inputText">
				    </div>
				  </div>
				</form>
			</div>
		<!-- 项目经验 -->
			<div class="my-col col-md-12 add1">
				<h3>项目经验</h3>
				<span class="my-add1">
					<a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 添加经验</a>
				</span>
			</div>
			<div class="my-col col-md-12">
				<form class="form-horizontal">
				  <div class="form-group my-group">
				    <label for="inputText" class="col-md-2 control-label">项目名称</label>
				    <div class="col-md-4">
				      <input type="text" class="form-control" id="inputText">
				    </div>
				    <label for="inputText" class="col-md-2 control-label">起止时间</label>
				    <div class="col-md-4">
				      <input type="text" class="form-control" id="inputText">
				    </div>
				  </div>
				  <div class="form-group my-group">
				    <label for="inputText" class="col-md-2 control-label">所任角色</label>
				    <div class="col-md-4">
				      <input type="text" class="form-control" id="inputText">
				    </div>

				    <!-- <label for="inputText" class="col-md-2 control-label">项目凭证</label>
				    <div class="col-md-4">
				      <input type="text" class="form-control" id="inputText">
				    </div> -->
				    <label class="col-md-2 control-label" for="inputText">项目凭证</label>
				    <div class="col-md-4 input-group input-set">
				      <input type="text" class="form-control" id="inputText">
				      <div class="input-group-addon my-addon">
				      	<a href="#">浏览</a>
				      </div>
				    </div>
				  </div>
				   <div class="form-group my-group">
				    <label for="inputText" class="col-md-2 control-label">自定义内容</label>
				    <div class="col-md-10">
				      <textarea class="form-control" rows="3"></textarea>
				    </div>
				  </div>
				</form>
			</div>
		<!-- 自定义模块 -->
			<div class="my-col col-md-12 add1">
				<h3>自定义模块</h3>
				<span class="my-add1">
					<a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 添加技能</a>
				</span>
			</div>
			<div class="my-col col-md-12">
				<form class="form-horizontal">
					<div class="form-group my-group">
						<label for="inputText" class="col-md-2 control-label">自定义标题</label>
			    	<div class="col-md-10">
				      <input type="text" class="form-control" id="inputText">
				    </div>
					</div>
			    <div class="form-group my-group">
				    <label for="inputText" class="col-md-2 control-label">自定义内容</label>
				    <div class="col-md-10">
				      <textarea class="form-control" rows="5"></textarea>
				    </div>
				  </div>
				</form>
			</div>
			<div class="col-sm-offset-3 col-sm-2">
        <botton class="btn btn-default mybtn my_btn1">确认提交</botton>
      </div>
      <div class="col-sm-offset-3 col-sm-2">
        <botton class="btn btn-default mybtn  my_btn2">取消编辑</botton>
      </div>
		</div>
	</div>
</div>
<script type="text/javascript">
  $(function(){
    $("#user_image").fileinput();
  });
</script>