<%= render partial: "my_homehead" %>
<div class="main">
	<div class="container">
		<div class="row">
			<div id="tagshow" class="col-md-offset-1 col-md-10 main-content">
				<h3 class="main-title">印象评价</h3>
				<div class="row">
					<div class="col-md-5 my-divider">
						<hr class="my-line">
					</div>
					<div class="col-md-2 my-divider text-center">
						<h4>大家对我的印象</h4>
					</div>
					<div class="col-md-5 my-divider">
						<hr class="my-line">
					</div>
				</div>
				<%= render partial: "user_comment" %>
				<div class="col-md-12 my-form">
					<form class="form-horizontal">
					  <div class="form-group">
					    <div class="col-md-5">
					      <textarea class="form-control" rows="1" placeholder=" 请输入您的描述，不超过10个字"></textarea>
					    </div>
					    <div class="col-md-1">
					    	<button class="btn btn-default my-btn">确定</button>
					    </div>
					  </div>
					</form>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-10 main-content">
				<div class="row">
					<div class="col-md-5 my-divider">
						<hr class="my-line">
					</div>
					<div class="col-md-2 my-divider text-center">
						<h4>大家对我的评价</h4>
					</div>
					<div class="col-md-5 my-divider">
						<hr class="my-line">
					</div>
					<div class="col-md-12 my-text">
						<%= form_tag  comment_user_user_path(@user), method: :post do |f|%>
							<%= text_area_tag "body", "", class: "comment_text form-control", rows: 3, placeholder: "请输入您的描述，超过10个字" %>
							<div class="my-confire">
								<%= submit_tag "确定", class: "btn btn-default my-btn"%>
							</div>
						<% end %>
					</div>
					<div class="col-md-12">
						<hr class="my-dotted">
					</div>
				</div>
				<!-- 评论 -->
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<div class="my-comment">
						<% @comments.each do |comment| %>
							<%= link_to(home_user_path(comment.user)) do %>
								<%= image_tag comment.user.show_image, class: "img-circle", width: "50", height: "50" %>
							<% end %>
							<%= comment.try(:user).try(:nickname) %>
							<span class="gray-text">说：</span><br>
							<div class="comment-text">								
								<%= comment.body %><br>
							</div>
							<% comment.children.each do |children| %>
								<div class="gray-bg">
									<span class="gray-text"><%= children.user.nickname %>：</span><%= children.body %>
								</div>
							<% end %>
							<div class="gray-text comment-text">
								<span class="pull-left time-tip"><%= time_interval(comment) %></span>
								<%= form_tag  comment_user_user_path(@user), method: :post, class: "child-form" do |f|%>
									<%= text_area_tag "body", "", class: "reply_text form-control navbar-form navbar-left", rows: 1, placeholder: "请输入您的描述!" %>
									<%= hidden_field_tag "parent_id", comment.id %>
									<%= submit_tag "回复", class: "btn btn-info" %>
								<% end %>
							</div>
							<hr>
						<% end %>
						</div>	
					</div>
				</div>
				<h3 class="text-center"><%= paginate  @comments, remote: true %></h3>
			</div>
		</div>
	</div>
</div>