<%= render partial: "my_homehead" %>
<div class="main">
	<!-- 个人资料 -->
	<div class="container">
		<!-- 完成任务 -->
		<div class="row">
			<div class="col-md-offset-1 col-md-10 main-content">				
				<div class="col-md-3 text-center task-text">
					<div class="finish-icon courses-icon">5</div>
					<span class="finish-text">完成课程</span>
				</div>
				<!-- <div class="col-md-3 text-center">
					<div class="finish-icon1 courses-icon1">5</div>
					<span class="finish-text">完成课程</span>
				</div> -->
				<div class="col-md-3 text-center task-text">
					<div class="finish-icon task-icon">17</div>
					<span class="finish-text">完成任务</span>
				</div>
				<div class="col-md-3 text-center task-text">
					<div class="finish-icon project-icon">5</div>
					<span class="finish-text">参与项目</span>
				</div>
				<div class="col-md-3 text-center task-text">
					<div class="finish-icon train-icon">5</div>
					<span class="finish-text">完成培训</span>
				</div>
			</div>
		</div>
			<!-- 我的勋章 -->
		<div class="row">
			<div class="col-md-offset-1 col-md-10 main-content">
				<h3>我的勋章</h3>
				<div class="my-medal">
					<%= image_tag"user_medal1.png" %>
				</div>
				<div class="my-medal">
					<%= image_tag"user_medal2.png" %>
				</div>
				<div class="my-medal">
					<%= image_tag"user_medal3.png" %>
				</div>
				<div class="my-medal">
					<%= image_tag"user_gray4.jpg", width:"105px" %>
				</div>
				<div class="my-medal">
					<%= image_tag"user_gray5.jpg" , width:"95px" %>
				</div>
				<div class="my-medal">
					<%= image_tag"user_gray6.jpg" , width:"95px" %>
				</div>
				<div class="my-medal">
					<%= image_tag"user_gray7.jpg" , width:"90px" %>
				</div>
			</div>
		</div>
			<!-- 我的积分 -->
		<div class="row">
			<div class="col-md-offset-1 col-md-10 main-content">
				<h3>我的积分</h3>
				<div class="progress my-integral">
				  <div class="progress-bar my-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
				  </div>
				</div>
			</div>
		</div>
			<!-- 印象评价 -->
		<div class="row">
			<div class="col-md-offset-1 col-md-10 main-content">
				<h3>印象评价</h3>
				<%= render partial: "user_comment" %>
				<div class="col-md-2 my-impression text-center">
					<span class="my-add">
						<a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 添加印象</a>
					</span>	
				</div>
			</div>
		</div>
			<!-- 作品展示 -->
		<div class="row">
			<div class="col-md-offset-1 col-md-10 main-content">
				<h3>作品展示</h3>
				<div class="col-md-6 my-display hover-info" id="display1">
					<%= image_tag"user_display1.png" ,width:"100%" %>
					<div class="hover1" id="details1">
						<h4 class="display-title text-center">作品名称</h4>
						<p>作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍</p>
					</div>
				</div>
				<div class="col-md-6 my-display">
					<div class="col-md-12 my-display hover-info" id="display2">
						<%= image_tag"user_display2.png" ,width:"100%" %>
						<div class="hover1" id="details2">
							<h4 class="display-title text-center">作品名称</h4>
							<p>作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作品介绍作</p>
						</div>
					</div>
					<div class="col-md-12 my-link my-display text-center">
						<a href="#">www.buoyantec.com</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(function(){
		$("#display1").mouseover(function(){
			$("#details1").show();
		}).mouseleave(function(){
			$("#details1").hide();
		});
		$("#display2").mouseover(function(){
			$("#details2").show();
		}).mouseleave(function(){
			$("#details2").hide();
		});
	})
</script>