<div class="user__my_impression">
	<div class="waperbg">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<%=render "left_nav" %>
				</div>
				<div class="col-md-9 right_nav_c">
					<div class="col-md-12 impression-t">
			            <h4 class="impression-title text-center"><span>大家对我的印象</span></h4>
			            <hr class="user-impression">
			        </div>
			        <div id="tab-tag" class="col-md-12 impression-tab">
						<%=render "impression_tag" %>
			        </div>
			        <div class="col-md-12 impression-t">
			            <h4 class="impression-title text-center"><span>大家对我的评价</span></h4>
			            <hr class="user-impression">
			        </div>
			        	<div class="col-md-12 evaluate">
						<% @comments.each do |comment| %>
							<div class="col-md-1">
							<%= link_to(home_user_path(comment.user.id)) do %>
								<%= image_tag comment.user.show_image, class: "img-circle", width: "50", height: "50" %>
							<% end %>
							</div>
							<div class="col-md-11">
							<p>
							<%= link_to(home_user_path(comment.user.id)) do %>
							<span><%= comment.try(:user).try(:nickname) %></span>
							<% end %>
							<span class="eva-col">说：</span>
							<span class="pull-right time-tip"><%= time_interval(comment) %></span>
							</p>
							<%= link_to(home_user_path(comment.user.id)) do %>
			        		<p><%= comment.body %></p>
			        		<% end %>
							<% comment.children.each do |children| %>
								<p class="eva-bg"><span class="eva-col"><%= children.user.nickname %>:</span><span><%= children.body %></span></p>
							<% end %>
							<hr>
							</div>
						<% end %>
						</div>	
					<div class="text-center"><%= paginate  @comments %></div>
				</div>
			</div>
		</div>
	</div>
</div>
