<div class="my__trains">
	<div class="waperbg">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<%=render "left_nav" %>
				</div>
				<div class="col-md-9 right_nav_c">
					<div class="trains-title col-md-12">
						<h4 class="text-center title"><span>My培训</span></h4>
						<hr class="trains-lines" width="100%">
					</div>
						<div class="col-md-6 courses_tent">
						<div class="bordered">
						<%= image_tag("workt3.png", class: "img-responsive", width:"100%") %>
						<div class="col-sm-12 mt-10">
						  <h4>我是课程名称</h4>
						  <p>我是一句话的描述一句话的描述一句话的描述.....</p>
						</div>
						<div class="col-sm-12 infos">
						  <span class="glyphicon glyphicon-eye-open"></span> 1549
						  &nbsp;&nbsp;&nbsp;
						  <span class="glyphicon glyphicon-time"></span> 5月14日 17:30
						</div>
						</div> 
						<div class="bordered">
						<%= image_tag("workt1.png", class: "img-responsive", width:"100%") %>
						<div class="col-sm-12 mt-10">
						  <h4>我是课程名称</h4>
						  <p>我是一句话的描述一句话的描述一句话的描述.....</p>
						</div>
						<div class="col-sm-12 infos">
						  <span class="glyphicon glyphicon-eye-open"></span> 1549
						  &nbsp;&nbsp;&nbsp;
						  <span class="glyphicon glyphicon-time"></span> 5月14日 17:30
						</div>
						</div>
						</div>

						<div class="col-md-6 courses_tent">
						<div class="bordered">
						<%= image_tag("workt2.png", class: "img-responsive", width:"100%") %>
						<div class="col-sm-12 mt-10">
						  <h4>我是课程名称</h4>
						  <p>我是一句话的描述一句话的描述一句话的描述.....</p>
						</div>
						<div class="col-sm-12 infos">
						  <span class="glyphicon glyphicon-eye-open"></span> 1549
						  &nbsp;&nbsp;&nbsp;
						  <span class="glyphicon glyphicon-time"></span> 5月14日 17:30
						</div>
						</div>
						<div class="bordered">
						<%= image_tag("workt3.png", class: "img-responsive", width:"100%") %>
						<div class="col-sm-12 mt-10">
						  <h4>我是课程名称</h4>
						  <p>我是一句话的描述一句话的描述一句话的描述.....</p>
						</div>
						<div class="col-sm-12 infos">
						  <span class="glyphicon glyphicon-eye-open"></span> 1549
						  &nbsp;&nbsp;&nbsp;
						  <span class="glyphicon glyphicon-time"></span> 5月14日 17:30
						</div>
						</div>
						</div>
					<div class="col-md-12">
						<button class="btn btn-default btn-lg next-btn">加载下一页...</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>