<div class="col-sm-4">
	<div class="bordered">
	  <%= link_to course_path(course.id) do %>
			<%= image_tag(course.image.avatar.url(:c_360_200), class: "img-responsive")%>
			<%= image_tag(course.try(:teacher).try(:image).avatar.url(:t_98), class: "img-responsive avatar")%>
			<span class="pull-right name"><%= course.try(:teacher).name %></span>
			<div class="col-sm-12 mt-40">
				<p><%= course.try(:teacher).description %></p>
				<!-- <p>沈晴天，博士， 副教授。北京大学牛逼学院...</p> -->
			</div>
			<div class="col-sm-12 infos">
				<span class="glyphicon glyphicon-eye-open"></span> <%= course.view_count %>
				&nbsp;&nbsp;&nbsp;
				<span class="glyphicon glyphicon-time"></span><%= format_time(course.last_update_time) %>
				<b class="pull-right">免费</b>
			</div>
		<% end %>
	</div>
</div>
