<div class="col-sm-4">
	<%= link_to course do %>	
		<div class="bordered">
			<%= image_tag(course.image.avatar.url(:c_360_200), class: "img-responsive")%>
			<div class="col-sm-12 mt-10">
				<p class="text-muted course-descrip"><%= course.title %></p>
				<p class="text-muted course-title"><%= course.description %></p>
			</div>
			<div class="col-sm-12 system-icon">
				<i class="icon-tubiao iconfont"></i><%= course.view_count %>
				&nbsp;&nbsp;&nbsp;
				<i class="icon-shizhong iconfont"></i><%= format_time(course.last_update_time) %>
				<b class="pull-right">免费</b>
			</div>
		</div>
	<% end %>
</div>