<% 7.times do %>
	<div class="col-xs-12 col-md-6 plat-course-col">
		<div class="bordered">
			<%= link_to "#" do %>
				<%= image_tag("course-index.gif", class: "img-responsive") %>
				<div class="col-sm-12 mt-10">
					<p class="text-muted"><%= 'course name' %></p>
					<p class="text-muted"><%= 'course description' %></p>
				</div>
				<div class="col-sm-12 infos">
					<span class="glyphicon glyphicon-eye-open"></span> <%= '1456' %>
					&nbsp;&nbsp;&nbsp;
					<span class="glyphicon glyphicon-time"></span> <%= '05-03' %>
					<b class="pull-right">免费</b>
				</div>
			<% end %>
		</div>
	</div>
<% end %>