<div id="scoll-data">
<% @trains.each do |train| %>
  <%= link_to worktrain_path(train) do |i| %>
        <div id="course-data">
          <div class="pic"><span class="train-image"><%= image_tag train.try(:image).try(:avatar) %></span></div>
          <div class="title">
            <span class="train-title">
              <h4><%= train.title.try(:truncate, 15) %></h4>
              <p><%=raw train.introduce.try(:truncate, 20) %></p>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              <%= train.views_count_s %>
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
              <%= train.created_at.strftime("%F %H:%M:%S") %>
            </span>
          </div>
        </div>
  <% end %>
<% end %>
</div>