<%= content_for :nav do%>
  <li>
    <a href="<%= admin_root_path%>">后台</a>
  </li>
  <li>
    <a href="<%= admin_trains_path%>">培训列表</a>
  </li>
  <li>
    <a href="<%= admin_trains_path(@train)%>"><%= @train.title %></a>
  </li>
  <li class="active">修改</li>
  <hr></hr>
  <%= render 'form' %>
<%end%>