<div class="sidebar" id="sidebar">
  <script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
  </script>
  
  <div class="project_name">
    <span class="project_name_t"><%= @project.name.truncate(5, omission: '')%></span>
  </div>

  <ul class="nav nav-list ace-nav-left">
    <li class="<%= 'active' if params[:controller] == "training_platform/announces"%>">
      <%= link_to(training_platform_project_announces_path(project_id: @project.id)) do %>
        <i class="icon-dashboard"></i>
        <span class="menu-text"> 公告信息 </span>
      <% end %>
    </li>

    <li class="<%= 'active' if params[:controller] == "training_platform/users" && params[:id] == current_user.id.try(:to_s) && params[:s] == "my" %>">
      <%= link_to(training_platform_project_user_path(current_user, project_id: @project.id,s: "my")) do %>
        <i class="icon-user"></i>
        <span class="menu-text"> 我的任务 </span>
      <% end %>
    </li>

    <li id="taskListMenuLi" class="open <%= 'active' if params[:controller] == "training_platform/task_categories" || params[:controller] == "training_platform/tasks"%>">
      <a href="#" class="dropdown-toggle">
        <i class="icon-tasks"></i>
        <span class="menu-text"> 任务列表 </span>
        <% if @project.task_categories.present? %><b class="arrow icon-angle-down"></b><% end %>
      </a>
      <% if @project.task_categories.present? %>
        <ul class="submenu" style="display: block;">
          <% @project.task_categories.each do |tc|%>
            <li>
              <%= link_to(training_platform_project_task_category_path(tc, project_id: @project.id)) do%>
                <i class="icon-double-angle-right"></i>
                <%= tc.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>

    <li class="open <%= 'active' if params[:controller] == "training_platform/users" && params[:s] != "my" %>">
      <a href="#" class="dropdown-toggle">
        <i class="icon-group"></i>
        <span class="menu-text"> 团队成员 </span>
        <% if @project.users.present? %><b class="arrow icon-angle-down"></b><% end %>
      </a>
      <% if @project.users.present? %>
        <ul class="submenu" style="display: block;">
          <% @project.users.each do |member|%>
            <li>
              <%= link_to(training_platform_project_user_path(member, project_id: @project.id)) do %>
                <i class="icon-double-angle-right"></i>
                <%= member.show_name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>

    <li class="<%= 'active' if params[:controller] == "training_platform/project_courses"%>">
      <%= link_to(training_platform_project_project_courses_path(project_id: @project.id)) do %>
        <i class="icon-book"></i>
        <span class="menu-text">相关课程</span>
      <% end %>
    </li>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <span class="btn btn-success btn-sm tooltip-success" data-rel="tooltip" data-placement="bottom" title="新建任务列表">
          <%= link_to( new_training_platform_project_task_category_path(@project.id),  "data-placement" => "opt", format: :js, remote: true) do %>
          <i class="icon-tasks" style="color:#fff"></i>
          <% end %>
        </span>

        <span class="btn btn-warning btn-sm tooltip-warning" data-rel="tooltip" data-placement="bottom" title="邀请团队成员">
          <%= link_to( new_training_platform_project_user_project_path, "data-toggle" => "tooltip", "data-placement" => "opt",  format: :js, remote: true) do %>
          <i class="icon-group" style="color:#fff"></i>
          <% end %>
        </span>
        
        <span class="btn btn-danger btn-sm tooltip-error" data-rel="tooltip" data-placement="bottom" title="设置">
          <%= link_to( "#", "data-toggle" => "tooltip", "data-placement" => "opt") do %>
          <i class="icon-cogs" style="color:#fff"></i>
          <% end %>
        </span>
      </div>

      <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
      </div>
    </div>
  </ul>

  <div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
  </div>

  <script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
  </script>
</div>