
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="my-task">
    <h3><%= @task_category.try(:name) || ((@user.id == current_user.id ? "我" : @user.try(:show_name)) + "的任务") %></h3>
    <hr class="my-line">
  </div>

  <h4 class="my-progress">待办中（<%= waits.size %>）</h4>
  <% waits.each do |task|%>
    <div class="row task-list-row">
      <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding dropdown">
        <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          待办中
          <span class="caret my-caret"></span>
        </button>
        <ul class="dropdown-menu my-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">进行中</a></li>
          <li><a href="#">已完成</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 no-padding"><span class="business"><%= task.name %></span></div>
      <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding"><span class="business"><%= task.created_at.strftime("%F") %></span></div>
    </div>
  <%end%>

  <h4 class="my-progress">进行中（<%= dos.size %>）</h4>
  <% dos.each do |task|%>
    <div class="row task-list-row">
      <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding dropdown">
        <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          进行中
          <span class="caret my-caret"></span>
        </button>
        <ul class="dropdown-menu my-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">待办中</a></li>
          <li><a href="#">已完成</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 no-padding"><span class="business"><%= task.name %></span></div>
      <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding"><span class="business"><%= task.created_at.strftime("%F") %></span></div>
    </div>
  <%end%>

  <h4 class="my-progress">已完成（<%= completes.size %>）</h4>
  <% completes.each do |task|%>
    <div class="row task-list-row">
      <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding dropdown">
        <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          已完成
          <span class="caret my-caret"></span>
        </button>
        <ul class="dropdown-menu my-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">待办中</a></li>
          <li><a href="#">进行中</a></li>
          <li><a href="#">验收通过</a></li>
          <li><a href="#">验收失败</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 no-padding"><span class="business"><%= task.name %></span></div>
      <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding"><span class="business"><%= task.created_at.strftime("%F") %></span></div>
    </div>
  <%end%>

  <h4 class="my-progress">验收通过（<%= acceprances.size %>）</h4>
  <% acceprances.each do |task|%>
    <div class="row task-list-row">
      <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding dropdown">
        <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          验收通过
          <span class="caret my-caret"></span>
        </button>
        <ul class="dropdown-menu my-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">待办中</a></li>
          <li><a href="#">进行中</a></li>
          <li><a href="#">已完成</a></li>
          <li><a href="#">验收失败</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 no-padding"><span class="business"><%= task.name %></span></div>
      <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding"><span class="business"><%= task.created_at.strftime("%F") %></span></div>
    </div>
  <%end%>
</div>