
<div id="taskList" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="my-task">
    <h3><%= @task_category.try(:name) || ((@user.id == current_user.id ? "我" : @user.try(:show_name)) + "的任务") %></h3>
    <% if @task_category.try(:tags).try(:any?) %>
      <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
      <% @task_category.tags.each do |tag| %>
        <%= link_to tag.name %>
      <% end %>
    <% end %>
    <hr class="my-line">
  </div>

  <div id="taskListAllContent">
    <!-- 代办中任务 -->
    <div class="task-list-content">
      <h4 class="my-progress">待办中(<%= waits.size %>)</h4>
      <!-- 没有任务提示 -->
      <%= render partial: "training_platform/share/task_blank", locals: {info: "现在没有待办中的任务", is_show: waits.blank? } %>
       <!-- 没有任务提示 -->
      <% waits.each do |task|%>
        <div class="row task-list-row <%= 'active' if @task.try(:id) == task.id %>">
          <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding dropdown">
            <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              待办中
              <span class="caret my-caret"></span>
            </button>
            <ul class="dropdown-menu task-state-dropdown" aria-labelledby="dropdownMenu1" data-task="<%= task.id%>">
              <%= raw(staus_dropdown task.state, aasm_state_training_platform_project_task_path(@project,task))%>
            </ul>
          </div>
          <%= link_to training_platform_project_task_path(task, project_id: @project.id), class: "task-link", remote: true, format: :js, id: "taskListLink#{task.id}" do %>
          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 no-padding"><span><%= task.name %></span></div>
          <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding"><span><%= task.end_time.try(:strftime, "%F") %></span></div>
          <% end %>
          </div>
          <% end %>
        </div>
    <!-- 代办中任务 -->


    <!-- 进行中任务 -->
    <div class="task-list-content">
      <h4 class="my-progress">进行中(<%= dos.size %>)</h4>
      <%= render partial: "training_platform/share/task_blank", locals: {info: "现在没有进行中的任务", is_show: dos.blank?} %>
      <% dos.each do |task|%>
        <div class="row task-list-row <%= 'active' if @task.try(:id) == task.id %>">
          <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding dropdown">
            <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              进行中
              <span class="caret my-caret"></span>
            </button>
            <ul class="dropdown-menu task-state-dropdown" aria-labelledby="dropdownMenu1" data-task="<%= task.id%>">
              <%= raw(staus_dropdown task.state, aasm_state_training_platform_project_task_path(@project,task))%>
            </ul>
          </div>
          <%= link_to training_platform_project_task_path(task, project_id: @project.id), class: "task-link", remote: true, format: :js do %>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 no-padding"><span><%= task.name %></span></div>
            <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding"><span><%= task.end_time.try(:strftime, "%F") %></span></div>
          <% end %>
        </div>
      <%end%>
    </div>
    <!-- 进行中任务 -->


    <!-- 已完成任务 -->
    <div class="task-list-content">
      <h4 class="my-progress">已完成(<%= completes.size %>)</h4>
      <%= render partial: "training_platform/share/task_blank", locals: {info: "现在没有已完成的任务", is_show: completes.blank?} %>
      <% completes.each do |task|%>
        <div class="row task-list-row <%= 'active' if @task.try(:id) == task.id %>">
          <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding dropdown">
            <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              已完成
              <span class="caret my-caret"></span>
            </button>
            <ul class="dropdown-menu task-state-dropdown" aria-labelledby="dropdownMenu1" data-task="<%= task.id%>">
              <%= raw(staus_dropdown task.state, aasm_state_training_platform_project_task_path(@project,task))%>
            </ul>
          </div>
          <%= link_to training_platform_project_task_path(task, project_id: @project.id), class: "task-link", remote: true, format: :js do %>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 no-padding"><span><%= task.name %></span></div>
            <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding"><span><%= task.end_time.try(:strftime, "%F") %></span></div>
          <% end %>
        </div>
      <%end%>
    </div>
    <!-- 已完成任务 -->


    <!-- 验收通过任务 -->
    <div class="task-list-content">
      <h4 class="my-progress">验收通过(<%= acceprances.size %>)</h4>
      <%= render partial: "training_platform/share/task_blank", locals: {info: "现在没有验收通过的任务", is_show: acceprances.blank?} %>
      <% acceprances.each do |task|%>
        <div class="row task-list-row <%= 'active' if @task.try(:id) == task.id %>">
          <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding dropdown">
            <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              验收通过
              <span class="caret my-caret"></span>
            </button>
            <ul class="dropdown-menu task-state-dropdown" aria-labelledby="dropdownMenu1" data-task="<%= task.id%>">
              <%= raw(staus_dropdown task.state, aasm_state_training_platform_project_task_path(@project,task))%>
            </ul>
          </div>
          <%= link_to training_platform_project_task_path(task, project_id: @project.id), class: "task-link", remote: true, format: :js do %>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 no-padding"><span><%= task.name %></span></div>
            <div class="col-xs-12 col-sm-3 col-lg-2 col-lg-2 no-padding"><span><%= task.end_time.try(:strftime, "%F") %></span></div>
          <% end %>
        </div>
      <%end%>
    </div>
    <!-- 验收通过任务 -->
  </div>
  

</div>

<script type="text/javascript">
  $(function(){
    
    //菜单栏高度
    var head = $("#headerMenu").outerHeight();

    //右侧检索通知栏高度
    var rightTitle = $(".ace_content_right_title").outerHeight();

    //屏幕可见高端
    var clientHeight = document.body.clientHeight;

    var h4Title = $(".my-task").outerHeight();

    //高度计算
    var scrollHeight = clientHeight - (head + rightTitle + h4Title + 25) - document.body.scrollTop;

    $('#taskListAllContent').slimScroll({
      height: scrollHeight + 'px',
      alwaysVisible : false
    });

  });
</script>


<%= javascript_include_tag "training_platform/tasks", 'data-turbolinks-track' => true  %>
