<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="my-task">
        <h3>任务详情</h3>
        <hr class="my-line">
      </div>
    </div>
  </div>

  <div class="row task-ops">
    <div class="col-xs-4 col-sm-2 col-lg-2 col-lg-2 dropdown">
      <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= @task.try(:task_category).try(:name).try(:truncate, 5, omission: "..") || "所属任务"%>
        <span class="caret my-caret"></span>
      </button>
      <ul class="dropdown-menu my-menu" aria-labelledby="dropdownMenu1">
        <% @project.task_categories.each do |tc| %>
          <li>
            <%= link_to tc.name, move_category_training_platform_project_task_path(@project, @task, task_category: tc.id) , remote: true, format: :js %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-4 col-sm-2 col-lg-2 col-lg-2 dropdown">
      <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= @task.get_principal_user.try(:show_name) || "负责人" %>
        <span class="caret my-caret"></span>
      </button>
      <ul class="dropdown-menu my-menu" aria-labelledby="dropdownMenu1">
        <% @project.get_member.each do |member| %>
          <li><a href="#"><%= member.show_name %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-4 col-sm-2 col-lg-2 col-lg-2 dropdown">
      <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        截止日期
      </button>
    </div>

    <div class="col-xs-4 col-sm-2 col-lg-2 col-lg-2 dropdown">
      <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= Task::Level[@task.level.to_sym]%>
        <span class="caret my-caret"></span>
      </button>
      <ul class="dropdown-menu my-menu" aria-labelledby="dropdownMenu1">
        <% Task::Level.each do |k,v| %>
          <li><a href="#"><%= v %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-4 col-sm-2 col-lg-2 col-lg-2 dropdown">
      <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        附件
      </button>
    </div>

    <div class="col-xs-4 col-sm-2 col-lg-2 col-lg-2 dropdown">
      <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        操作
        <span class="caret my-caret"></span>
      </button>
      <ul class="dropdown-menu my-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">编辑</a></li>
        <li><a href="#">删除</a></li>
      </ul>
    </div>
  </div>

  <div class="row task-content">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12">
      <h4> <%= @task.name %>
      <!-- <span class="dropdown">
        <button class="btn btn-default dropdown-toggle dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%#= Task::State[@task.state.to_sym]%>
          <span class="caret my-caret"></span>
        </button>
        <ul class="dropdown-menu my-menu" aria-labelledby="dropdownMenu1">
          <%#= raw(staus_dropdown @task.state, aasm_state_training_platform_project_task_path(@project,@task))%>
        </ul>
      </span> -->
      </h4>
     </div> 

    <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-8">
            <input class="form-control" id="inputEmail3" placeholder="请输入任务标签">
          </div>
          <div class="col-xs-2">
            <botton class="btn btn-success">添加标签</botton>
          </div>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-8">
            <select class="form-control">
              <option>请选择协作者</option>
              <option>樊伟</option>
              <option>张留刚</option>
            </select>
          </div>
          <div class="col-xs-2">
            <botton class="btn btn-success">确认提交</botton>
          </div>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 task-description">
      这里是任务描述
    </div>
  </div>


  
</div>