<!DOCTYPE html>
<html>
<head>
	<title>Walnut</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_path.gsub('/','__') + '__' + controller.action_name %> " >
	<%= render "share/flash_message" %>
	
	<%= render partial: 'share/header' %>
	<%= yield :banner %>
	<%= yield %>
	<%= render partial: 'share/footer' %>

  <%= render partial: 'share/devise_form' %>
  
  <%= yield :scripts %>
</body>
</html>
