<!DOCTYPE html>
<html>
<head>
  <title>Walnut</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
  <%= stylesheet_link_tag    'training_platform', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'training_platform', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_path.gsub('/','__') + '__' + controller.action_name %> skin-1" >
  <%= render "share/flash_message" %>
  <%= render partial: 'share/header' %>
  <%= yield :banner %>
  <%= yield %>
  <%= render partial: 'share/devise_form' %>
  <%= yield :scripts %>
</body>
</html>
