<div class="sidebar" id="sidebar">
    <script type="text/javascript">
      try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="project_name">
      <span class="project_name_t">我的项目</span>
    </div>

    <ul class="nav nav-list ace-nav-left">
      <li class="<%= 'active' if params[:type].blank? %>">
        <%= link_to training_platform_root_path do%>
          <i class="icon-book "></i>
          <span class="menu-text"> 全部项目</span>
        <% end %>
      </li>
      
      <li class="<%= 'active' if params[:type] == 'self' %>">
        <%= link_to training_platform_root_path(type: "self") do%>
          <i class="icon-bookmark"></i>
          <span class="menu-text"> 个人项目 </span>
        <% end %>
      </li>

      <li class="<%= 'active' if params[:type] == 'join' %>">
        <%= link_to training_platform_root_path(type: "join") do%>
          <i class="icon-list"></i>
          <span class="menu-text"> 参与的项目</span>
        <% end %>
      </li>

      <li class="<%= 'active' if params[:type] == 'collect' %>">
        <%= link_to training_platform_root_path(type: "collect") do%>
          <i class="icon-flag "></i>
          <span class="menu-text"> 关注的项目</span>
        <% end %>
      </li>

      <li class="<%= 'active' if params[:type] == 'pigeonhole' %>">
        <%= link_to training_platform_root_path(type: "pigeonhole") do%>
          <i class="icon-folder-close "></i>
          <span class="menu-text"> 归档项目 </span>
        <% end %>
      </li>
      

      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
          <button class="btn btn-success">
            <i class="icon-signal"></i>
          </button>

          <button class="btn btn-info">
            <i class="icon-pencil"></i>
          </button>

          <button class="btn btn-warning">
            <i class="icon-group"></i>
          </button>

          <button class="btn btn-danger">
            <i class="icon-cogs"></i>
          </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
          <span class="btn btn-success"></span>

          <span class="btn btn-info"></span>

          <span class="btn btn-warning"></span>

          <span class="btn btn-danger"></span>
        </div>
      </div><!-- #sidebar-shortcuts -->
    </ul><!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
      <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
      try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div><!-- /.sidebar -->