<div class="main-container" id="main-container">
  <script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  </script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <%= render 'training_platform/projects/left_nav'%>

    <div class="main-content">
      <div class="page-content">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
          <div class="row">
            
            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 ace_content_left_title">
              <%= link_to(new_training_platform_project_path,remote: true, format: :js) do %>
                <span class="glyphicon glyphicon-plus ace_plus" aria-hidden="true"></span><span class="ace_plus_word">添加项目</span>
              <% end %>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 ace_content_right_title">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="glyphicon glyphicon-question-sign ace_ques pull-right" aria-hidden="true"></span>
              </a>
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-bell-alt icon-animated-bell pull-right ace_bell"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 main-bg">
          <% @projects.each_with_index do |project,index| %>
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 project-title-show">
              <div class="row blue-bg main">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-right">
                  <%= link_to("javascript:void(0);", title: current_user.try(:voted_up_on?, project, vote_scope: "collect") ? "取消收藏" : "收藏", class: "vote-create-a", voteable_id: project.id, voteable_type: project.class, style_type: "project-list", id: "projectListShowLink#{project.id}", scope: "collect") do %>
                    <span class="glyphicon <%= (current_user.try(:voted_up_on?,project, vote_scope: "collect")) ? "glyphicon-star" : "glyphicon-star-empty" %> yellow-start" aria-hidden="true"></span>
                  <% end %>
                  <div class="dropdown project-set-btn">
                    <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                      <li><%= link_to "打开项目", training_platform_project_announces_path(project_id: project.id) %></li>
                      <li><%= link_to "编辑项目", edit_training_platform_project_path(project), remote: true, format: :js %>
                      </li>
                      <li>
                        <%= link_to("javascript:void(0);", class: "vote-create-a", voteable_id: project.id, voteable_type: project.class, style_type: "project-pigeonhole", scope: "pigeonhole", id: "") do %>
                          <%= (current_user.try(:voted_up_on?,project, vote_scope: "pigeonhole")) ? "取消归档" : "归档项目" %>
                        <% end %>
                      </li>
                      <li><%= link_to "删除项目", training_platform_project_path(project), method: :delete, remote: true, format: :js, id: "deleteProjectLink#{project.id}",data: { confirm: "确定删除选择的项目？" } %></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-4 col-md-3 col-sm-3 col-lg-3 text-center">
                  <div class="easy-pie-chart percentage" data-percent="<%= project.task_percentage %>" data-color="#fff">
                    <span class="percent percent_number">
                      <%= project.task_percentage %>
                    </span>%
                  </div>
                </div>
                <%= link_to training_platform_project_announces_path(project_id: project.id) do %>
                  <div class="col-xs-8 col-md-9 col-sm-9 col-lg-9">
                    <h4><%= project.name %></h4>
                    <p>
                      （总任务：<%= project.tasks.count %>   
                      已完成：<%= project.tasks.completes.count %>   
                      待办中：<%= project.tasks.waits.count %>   
                      验收通过：<%= project.tasks.acceprances.count %> ）
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  var oldie = /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase());
  $('.easy-pie-chart.percentage').each(function(){
    $(this).easyPieChart({
      barColor: $(this).data('color'),
      trackColor: 'rgba(255,255,255,0.4)',
      scaleColor: false,
      lineCap: 'butt',
      lineWidth: 10,
      animate: oldie ? false : 1000,
      size:80
    }).css('color', $(this).data('color'));
  });
</script><!-- ./環裝讀條百分比  -->

<%= content_for :scripts do %>
  <%= javascript_tag do %>
    vote_create_path = "<%= votes_path %>.js"
  <% end %>
  <%= javascript_include_tag "app/votes", 'data-turbolinks-track' => true  %>
<% end %>