<div class="main-container" id="main-container">
  <script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  </script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>
    <%= render 'training_platform/projects/left_nav'%>
    <div class="main-content">
      <div class="page-content">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 ace_content_left_title">
              <%= link_to(new_training_platform_project_path, remote: true, format: :js) do %>
                <span class="glyphicon glyphicon-plus ace_plus" aria-hidden="true"></span><span class="ace_plus_word">添加项目</span>
              <% end %>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 ace_content_right_title">
              <!-- 搜索框 -->
              <div class="col-sm-7 ace-serch">
                <%= form_tag training_platform_root_path, method: :get, class: "form-search col-xs-12 ace-form-serch" do %>
                  <span class="input-icon">
                    <%= text_field_tag :q, nil, placeholder: "请输入关键字", class: "nav-search-input", id: "nav-search-input" %>
                    <i class="icon-search nav-search-icon"></i>
                    <%= hidden_field_tag :type, params[:type] %>
                  </span>
                  <%= submit_tag "搜索", style: "display: none;"%>
                <% end %>
              </div>

              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="glyphicon glyphicon-question-sign ace_ques pull-right" aria-hidden="true"></span>
              </a>
              <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-bell-alt icon-animated-bell pull-right ace_bell"></i>
              </a> -->
            </div>
          </div>
        </div>

        <% if params[:type].blank? %>
          <div class="project-search-condition">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 search-row">
              <div class="pull-left search-title">
                <%= image_tag "iconfont-lingxing.svg", width: "16px;" %>
                <strong>项目类型：</strong>
              </div>
              <ul class="nav nav-pills search-condition">
                <li class="active"><a href="#">全部</a></li>
                <li><a href="#">跟我练</a></li>
                <li><a href="#">一起来搞</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 search-row">
              <div class="pull-left search-title">
                <%= image_tag "iconfont-lingxing.svg", width: "16px;" %>
                <strong>项目标签：</strong>
              </div>
              <ul class="nav nav-pills search-condition">
                <li class="active"><a href="#">CSS</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">JAVASCRIPT</a></li>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 main-bg">
          <% if @search.blank? %>
            <div class="col-sm-12">
              <div class="alert alert-warning" role="alert">抱歉！没有找到包含关键词&nbsp;&nbsp;<span class="text-muted">[ <%= params[:q] %> ]</span>&nbsp;&nbsp;的项目</div>
            </div>
          <% else %>
            <% @search.each do |project| %>
              <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 project-title-show">
                <div class="row main <%= project_bc(project) %>">
                  <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-right">
                    <%= link_to("javascript:void(0);", title: current_user.try(:voted_up_on?, project, vote_scope: "collect") ? "取消收藏" : "收藏", class: "vote-create-a", voteable_id: project.id, voteable_type: project.class, style_type: "project-list", id: "projectListShowLink#{project.id}", scope: "collect") do %>
                      <span class="glyphicon <%= (current_user.try(:voted_up_on?,project, vote_scope: "collect")) ? "glyphicon-star" : "glyphicon-star-empty" %>" aria-hidden="true"></span>
                    <% end %>
                    <div class="dropdown project-set-btn">
                      <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><%= link_to "打开项目", training_platform_project_announces_path(project_id: project.id) %></li>
                        <li><%= link_to "编辑项目", edit_training_platform_project_path(project), remote: true, format: :js %>
                        </li>
                        <li>
                          <%= link_to("javascript:void(0);", class: "vote-create-a", voteable_id: project.id, voteable_type: project.class, style_type: "project-pigeonhole", scope: "pigeonhole", id: "") do %>
                            <%= (current_user.try(:voted_up_on?, project, vote_scope: "pigeonhole")) ? "取消归档" : "归档项目" %>
                          <% end %>
                        </li>
                        <li><%= link_to "删除项目", training_platform_project_path(project), method: :delete, remote: true, format: :js, id: "deleteProjectLink#{project.id}",data: { confirm: "确定删除选择的项目？" } %></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-3 col-sm-3 col-lg-3 text-center">
                    <div class="easy-pie-chart percentage" data-percent="<%= project.task_percentage %>" data-color="#fff">
                      <span class="percent percent_number">
                        <%= project.task_percentage %>
                      </span>%
                    </div>
                  </div>
                  <%= link_to training_platform_project_announces_path(project_id: project.id) do %>
                    <div class="col-xs-8 col-md-9 col-sm-9 col-lg-9">
                      <h4><%= project.name %></h4>
                      <p><%= show_project_desc(project) %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="mask"></div>
  <div id="searchTip">
    <div class="stepA"><a>下一步</a><span title="关闭">关闭</span></div>
      <div class="stepB"><a>下一步</a><span title="关闭">关闭</span></div>
      <div class="stepC"><a>下一步</a><span title="关闭">关闭</span></div>
      <div class="stepD"><a>下一步</a><span title="关闭">关闭</span></div>
      <div class="stepE"><a>下一步</a><span title="关闭">关闭</span></div>
  </div> -->
</div>

<script type="text/javascript">
  var oldie = /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase());
  $('.easy-pie-chart.percentage').each(function(){
    $(this).easyPieChart({
      barColor: $(this).data('color'),
      trackColor: 'rgba(255,255,255,0.4)',
      scaleColor: false,
      lineCap: 'butt',
      lineWidth: 10,
      animate: oldie ? false : 1000,
      size:80
    }).css('color', $(this).data('color'));
  });
</script><!-- ./環裝讀條百分比  -->


<!-- 新手指引 -->
<script>
// window.onload=function(){
//   var oMask=document.getElementById('mask');
//    var oSearch=document.getElementById('searchTip');
//    var aStep=oSearch.getElementsByTagName('div');
//    var aA=oSearch.getElementsByTagName('a');
//    var aClose=oSearch.getElementsByTagName('span');
//   //读取cookie
//   var res=document.cookie.substring(5);
//   alert(res);
  
//   //如果没有cookie，执行以下动作
//   if(res!="www.open.com.cn"){
//     alert(res)
//     //mask  父框 第一单元显示出来
//   oMask.style.display=oSearch.style.display=aStep[0].style.display='block';
  
//   //下一步按钮
//   for( var i=0; i<aStep.length; i++){
//     aA[i].index=i; //为每一个按钮增加一个index属性，为后面引用的
//     aA[i].onclick=function(){
//       this.parentNode.style.display="none";
//       if(this.index< aStep.length-1){
//         aStep[this.index+1].style.display="block";
//       }
//       else if( this.index==aStep.length-1){
//         oMask.style.display=oSearch.style.display="none";
//       }
//     } 
//   }
//   //关闭按钮
//   for(var i=0; i<aClose.length;i++){
//     aClose[i].onclick=function(){
//       oMask.style.display=oSearch.style.display="none";
//     }
//   }
//     //添加cookie
//   var oDate=new Date();
//   oDate.setDate(oDate.getDate()+30);
//   document.cookie="name=www.open.com.cn;expires="+oDate;
//   }

// }
</script>
<!-- 新手指引结束 -->

<%= content_for :scripts do %>
  <%= javascript_tag do %>
    vote_create_path = "<%= votes_path %>.js"
  <% end %>
  <%= javascript_include_tag "app/votes", 'data-turbolinks-track' => true  %>
<% end %>