<div class="main-container" id="main-container">
  <script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  </script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <%= render 'training_platform/projects/left_nav'%>

    <div class="main-content">
      <div class="page-content">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 ace_content_left_title">
              <%= link_to(new_training_platform_project_path,remote: true, format: :js) do %>
                <span class="glyphicon glyphicon-plus ace_plus" aria-hidden="true"></span><span class="ace_plus_word">添加项目</span>
              <% end %>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 ace_content_right_title">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="glyphicon glyphicon-question-sign ace_ques pull-right" aria-hidden="true"></span>
              </a>
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-bell-alt icon-animated-bell pull-right ace_bell"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 main-bg">
          <% @projects.each_with_index do |project,index| %>
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
              <%= link_to training_platform_tasks_path do %>
                <div class="row <%= project_bc index %> main">
                  <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-right">
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  </div>
                  <div class="col-xs-4 col-md-3 col-sm-3 col-lg-3 text-center">
                    <div class="easy-pie-chart percentage" data-percent="20" data-color="#fff">
                      <span class="percent percent_number">20</span>%
                    </div>
                  </div>
                  <div class="col-xs-8 col-md-9 col-sm-9 col-lg-9">
                    <h4><%= project.name %></h4>
                    <p>
                      （总任务：<%= project.tasks.count %>   
                      已完成：<%= project.tasks.completes.count %>   
                      待办中：<%= project.tasks.waits.count %>   
                      验收通过：<%= project.tasks.acceprances.count %>   ）
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
  </a>
</div>

<script type="text/javascript">
  var oldie = /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase());
  $('.easy-pie-chart.percentage').each(function(){
    $(this).easyPieChart({
      barColor: $(this).data('color'),
      trackColor: 'rgba(255,255,255,0.4)',
      scaleColor: false,
      lineCap: 'butt',
      lineWidth: 12,
      animate: oldie ? false : 1000,
      size:90
    }).css('color', $(this).data('color'));
  });
</script><!-- ./環裝讀條百分比  -->