<div  class="my-nav1">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs ace_modal_ul" role="tablist">
    <li role="presentation" class="active with-33 text-center"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">任务分类</a></li>
    <li role="presentation" class="with-33 text-center"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">项目成员</a></li>
    <li role="presentation" class="with-33 text-center"><a href="#profile1" aria-controls="profile" role="tab" data-toggle="tab">项目信息</a></li>
  </ul>
  <div class="tab-content main">
    <div class="panel panel-default">
      <div class="panel-heading">[<%= @task_category.name %>]修改</div>
      <div class="panel-body">
        <div role="tabpanel" class="tab-pane active" id="home">
          <%= simple_form_for @task_category, url: training_platform_project_task_category_path, remote: true do |f|%>
            <%= f.input :name, as: :string, placeholder: '请输入任务分类名称' %>
            <%= f.input :description, as: :text, placeholder: '请输入任务分类描述' %>
            <%= f.input :tag_list, placeholder: '请输入标签名称' %>
            <%= f.submit "修改", class: "btn btn-info-tp"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>