<div  class="my-nav1">
  <!-- Nav tabs -->
  <%= render "training_platform/share/tags" %>
  <!-- Tab panes -->
  <div class="tab-content main">
    <div role="tabpanel" class="tab-pane active" id="home">
      <%= link_to "新增", "javascript:void(0);", id: "toggle-link", class: "btn btn-default", style: "background: #5ac3b7!important;" %>
      <hr class="new-top">
      <div class="new-task-category">
        <%= simple_form_for TaskCategory.new, url: training_platform_project_task_categories_path, remote: true do |f|%>
          <%= f.input :name, as: :string, placeholder: '请输入任务列表名称' %>
          <%= f.input :description, as: :text, placeholder: '请输入任务列表描述' %>
          <%= f.submit "添加", class: "btn btn-info-tp", style: "background: #5ac3b7!important;" %>
        <% end %>
      </div>
      <hr class="new-bottom">
      <% if @task_categories.present? %>
        <table class="table table-hover ace_modal_tab">
          <thead>
            <tr>
              <th class="text-center">任务列表名称</th>
              <th class="text-center">任务列表描述</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody id="task_categories">
            <%= render partial: "task_category", collection: @task_categories, locals: {project: @project} %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-warning" role="alert">暂无任务列表</div>
      <% end %>
    </div>

    <!-- 项目成员类目 -->
    <div role="tabpanel" class="tab-pane" id="profile">
      <%= render "training_platform/share/invite_users"%>

      <div id="user_projects_content">
        <%= render partial: 'user_projects_content' %>
      </div>
    </div>

    <!-- 项目信息类目 -->
    <div role="tabpanel" class="tab-pane" id="profile1">
      <h3 class="text-center title"><span>编辑项目<span></h3>
      <%= simple_form_for(@project, url: training_platform_project_path(@project), remote: true, format: :js, wrapper: :horizontal_form_col210 ,html: {id: "projectFormModal", class: "form-horizontal"}) do |f| %>

        <%= f.input :name, as: :string, required: false, autofocus: true %>
        <%= f.input :description, as: :text, required: false, input_html: { cols: 6 } %>
        <%= f.input :is_public, collection: Project::IsPublic.invert, as: :radio_buttons, wrapper: "horizontal_radio_and_checkboxes210", item_wrapper_class: "radio-inline" %>
        <div class="row tp_m">
          <div class="col-sm-6">
            <%= f.button :submit, "变更", class: "btn btn-defaut btn-info-tp" %>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-defaut btn-danger-tp" data-dismiss="modal">取消</button>
          </div>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $(".new-task-category").hide();
    $("hr.new-top").hide();
    $("#toggle-link").click(function(){
      $(this).hide();
      $("hr.new-bottom").show();
      $(".new-task-category").show();
    });
  });
</script>

<!-- typeahead输入关键词自动提示效果 -->
<script type="text/javascript">
  $(function(){
    var url = $('#ace_modal_form').data("url");
    $.get(url, function(data){
      $("#ace_modal_form").typeahead({ source:data });
    },'json');
  });
</script>