<div  class="my-nav1">
  <!-- Nav tabs -->
  <%= render "tags" %>
  <!-- Tab panes -->
  <div class="tab-content main">
    <div role="tabpanel" class="tab-pane active" id="home">
        <table class="table table-hover ace_modal_tab">
          <thead>
            <tr>
              <th class="text-center">任务分类名称</th>
              <th class="text-center">任务分类描述</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody id="task_categories">
            <%= render partial: "task_category", collection: @task_categories, locals: {project: @project} %>
          </tbody>
        </table>

        <%= simple_form_for TaskCategory.new, url: training_platform_project_task_categories_path, remote: true do |f|%>
          <%= f.input :name, as: :string, placeholder: '请输入任务分类名称' %>
          <%= f.input :description, as: :text, placeholder: '请输入任务分类描述' %>
          <%= f.submit "添加", class: "btn btn-info-tp"%>
        <% end %>
      </div>

      <!-- 项目成员类目 -->
      <div role="tabpanel" class="tab-pane" id="profile">
        <%= form_for Notification.new, url: validate_training_platform_project_notifications_path, remote: true do |f|%>
          <div id="error-info"></div>
          <div class="col-xs-8 ace_modal_tab1">
            <div class="form-group">
              <%= text_field_tag :user_name, nil, placeholder: "请输入被邀请人的用户名...", 'data-provide': "typeahead", 'data-url': "#{api_users_path}", class: "ace_modal_form form-control", id: "ace_modal_form", autocomplete: "off" %>
            </div>
          </div>
          <div class="col-xs-4">
            <%= f.submit "发送邀请", class: "btn" %>
          </div>
        <% end %>

      <div id="user_projects_content">
        <%= render partial: 'user_projects_content' %>
      </div>
    </div>

    <!-- 项目信息类目 -->
    <div role="tabpanel" class="tab-pane" id="profile1">
      <h3 class="text-center title"><span>编辑项目<span></h3>
      <%= simple_form_for(@project, url: training_platform_project_path(@project), remote: true, format: :js, wrapper: :horizontal_form_col210 ,html: {id: "projectFormModal", class: "form-horizontal"}) do |f| %>

        <%= f.input :name, as: :string, required: false, autofocus: true %>
        <%= f.input :description, as: :text, required: false, input_html: {cols: 6} %>
        <%= f.input :is_public, collection: Project::IsPublic.invert, as: :radio_buttons, wrapper: "horizontal_radio_and_checkboxes210", item_wrapper_class: "radio-inline" %>
        <div class="row tp_m">
          <div class="col-sm-6">
            <%= f.button :submit, "变更", class: "btn btn-info-tp" %>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-danger-tp" data-dismiss="modal">取消</button>
          </div>
        </div>
    <% end %>
  </div>
</div>

<!-- typeahead输入关键词自动提示效果 -->
<script type="text/javascript">
  $(document).ready(function(){
    window.query_cache = {};
    var url = $('#ace_modal_form').data("url");
    $('#ace_modal_form').typeahead({
      source:function(query,process){
        if(query_cache[query]){
          process(query_cache[query]);
          return;
        }
        if( typeof searching != "undefined") {
          clearTimeout(searching);
          process([]);
        }
        searching = setTimeout(function() {
          return $.getJSON(
            url,
            { q:query },
            function(data){
              query_cache[query] = data;
              return process(data);
            }
          );
        }, 300);
      }
    });
  });
</script>