<!-- 添加中...成员列表 -->
<% @project.on_invite_user_projects.each do |user_project|%>
  <div class="col-xs-8">
    <div class="ace_modal_media">
      <%= image_tag user_project.try(:user).show_image , class: "img-rounded media-object img-circle pull-left" %>
      <span class="pull-left">
      <h4 class="media-heading"><%= user_project.try(:user).name %></h4>
      <%= user_project.try(:user).email %></span>
    </div>
  </div>
  <div class="col-xs-4 text-center">
    <button type="button" class="btn text-black" data-dismiss="modal">邀 请 中</button>
  </div>
<% end %>

<!-- 成员列表 -->
<div class="col-xs-12">
  <hr>
  <h3>成员列表</h3>
</div>

<table class="table table-striped">
  <tbody class="ace_modal_tbd">

    <!-- 创建者 -->
    <tr>
      <div class="col-xs-8">
        <div class="ace_modal_media">
          <%= image_tag current_user.show_image , class: "img-rounded media-object img-circle pull-left" %>
          <span class="pull-left">
          <h4 class="media-heading"><%= current_user.show_name %></h4>
          <%= current_user.email %></span>
        </div>
      </div>
      <div class="col-xs-4 text-center">
        <button type="button" class="btn text-black" data-dismiss="modal">创 建 者</button>
      </div>
    </tr>

    <!-- 成员列表 -->
    <% @project.invited_user_projects.each do |user_project|%>
      <tr>
        <td>
          <div class="ace_modal_media">
            <%= image_tag user_project.try(:user).show_image , class: "img-rounded media-object img-circle pull-left" %>
            <span class="pull-left">
            <h4 class="media-heading"><%= user_project.try(:user).try(:show_name)%></h4>
            邀请于<%= user_project.created_at.strftime("%Y-%m-%d") %></span>
          </div>
        </td>
        <td>
          <div class="dropdown">
            <button class="my-btn my-blue btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              管理员
              <span class="caret my-caret"></span>
            </button>
            <ul class="dropdown-menu my-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">成员</a></li>
            </ul>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-info-tp1" data-dismiss="modal">移除</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>